/* Animations */
@keyframes pulse {
    0% {
        transform: scale(1)
    }
    50% {
        transform: scale(1.2)
    }
    to {
        transform: scale(1)
    }
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0 rgba(252,186,3,.6)
    }
    to {
        box-shadow: 0 0 0 15px rgba(252,186,3,0)
    }
}

@keyframes fade-in {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px,0,0)
    }
    20%, 80% {
        transform: translate3d(2px,0,0)
    }
    30%, 50%, 70% {
        transform: translate3d(-4px,0,0)
    }
    40%, 60% {
        transform: translate3d(4px,0,0)
    }
}

@keyframes shake-min {
    10%, 90% {
        transform: translate3d(-.5px,0,0)
    }
    20%, 80% {
        transform: translate3d(1px,0,0)
    }
    30%, 50%, 70% {
        transform: translate3d(-2px,0,0)
    }
    40%, 60% {
        transform: translate3d(2px,0,0)
    }
}

@keyframes bounce {
    0%, 20%, 53%, 80%, to {
        animation-timing-function: cubic-bezier(.215,.61,.355,1);
        transform: translateZ(0)
    }
    40%, 43% {
        animation-timing-function: cubic-bezier(.755,.05,.855,.06);
        transform: translate3d(0,-30px,0)
    }
}

/* Font Faces */
@font-face {
    font-family: "swiper-icons";
    font-style: normal;
    font-weight: 400;
    src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff")
}

/* Section Styles */
section[data-v-288a9c82] {
    position: relative;
}

section[data-v-288a9c82]:after {
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 0
}

section.ob.vis[data-v-288a9c82]:after {
    transition: all 1s;
    width: 20px
}

section .title[data-v-288a9c82] {
    max-width: 900px
}

section .underline[data-v-288a9c82] {
    -webkit-text-decoration: underline;
    text-decoration: underline
}

/* Loading Spinner */
.img-loading:before {
    animation: Lazy_spinner .8s ease infinite;
    border-color: #000 transparent;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    box-sizing: border-box;
    content: "";
    height: 20px;
    left: 50%;
    margin-left: -10px;
    margin-top: -10px;
    position: absolute;
    top: 50%;
    width: 20px
}

@keyframes Lazy_spinner {
    to {
        transform: rotate(1turn)
    }
}

/* CMS Styles */
.cms-sm {
    background-color: #fff
}

.cms-sm.cms-blog {
    max-width: 790px;
    padding-bottom: 60px
}

.cms-sm.cms-blog-nopd {
    max-width: 790px
}

.cms-sm strong {
    color: #000;
    font-family: "GothamBold",-apple-system,BlinkMacSystemFont,Verdana,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif
}

.cms-sm__wrap.wrap {
    padding-bottom: 100px;
    padding-top: 60px
}

@media only screen and (max-width:960px) {
    .cms-sm__wrap.wrap {
        padding-bottom: 70px;
        padding-top: 40px
    }
}

@media only screen and (max-width:480px) {
    .cms-sm__wrap.wrap {
        padding-bottom: 50px;
        padding-top: 30px
    }
}

.cms-sm table {
    border-spacing: 0
}

.cms-sm table tbody tr:first-child {
    background: #000
}

@media only screen and (max-width:960px) {
    .cms-sm h2, .cms-sm h3, .cms-sm h4, .cms-sm h5, .cms-sm h6 {
        margin-top: 40px
    }
}

.cms-sm h2, .cms-sm h3 {
    position: relative
}

.cms-sm h2 .head-id, .cms-sm h3 .head-id {
    position: absolute;
    top: -100px
}

.cms-sm a[href] {
    display: inline;
    line-height: normal;
    position: relative;
    transition: all .3s;
    z-index: 2
}

.cms-sm ol, .cms-sm ul {
    list-style-type: none;
    margin: 30px 0;
    padding: 0
}

.cms-sm p + ol, .cms-sm p + ul {
    margin-top: 0
}

/* List Styles */
.cms-sm ol[start="2"] li:before { content: "2" }
.cms-sm ol[start="3"] li:before { content: "3" }
.cms-sm ol[start="4"] li:before { content: "4" }
.cms-sm ol[start="5"] li:before { content: "5" }
.cms-sm ol[start="6"] li:before { content: "6" }
.cms-sm ol[start="7"] li:before { content: "7" }
.cms-sm ol[start="8"] li:before { content: "8" }
.cms-sm ol[start="9"] li:before { content: "9" }
.cms-sm ol[start="10"] li:before { content: "10" }
.cms-sm ol[start="11"] li:before { content: "11" }
.cms-sm ol[start="12"] li:before { content: "12" }
.cms-sm ol[start="13"] li:before { content: "13" }
.cms-sm ol[start="14"] li:before { content: "14" }
.cms-sm ol[start="15"] li:before { content: "15" }

/* Form Elements */
sub { bottom: -.25em }
sup { top: -.5em }
img { border-style: none }

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button, input { overflow: visible }
button, select { text-transform: none }

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset { padding: .35em .75em .625em }

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress { vertical-align: baseline }
textarea { overflow: auto }

[type=checkbox], [type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
} 