@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title> Career</title>
</head>
<body>

<section class="section s-hero s-tech-banner devops-mod s-hero__webflow ob is-visible" data-observe="" data-visible="">
    <!--style="background-color: #4a00e1;"-->
    <div class="s-hero__image" style="background-image: url(/assets/img/Career.jpg);margin-top:0px;"></div>
    <div class="s-banner__wrap wrap" style="display:flex;">
        <div class="s-banner__txt-box" style="width: 61%;">
            <h1 style="margin-top:270px;">Career</h1>
            <p class="fontstyle" style="color:#fff;">
                Grow your career in a culture that values curiosity,creativity and collsboration . We're building the
                future - come building with us.
            </p>
        </div>
        <!---->
    </div>
    <!----><span data-callback="RemoveBanerListeners" class="s-banner__stop-par ob is-visible" data-observe="" data-visible=""></span>
</section>

<main class="careers-page style-5 pt-100">






    <!-- ====== start careers positions ====== -->
    <section class="careers-positions pb-100">
        <div class="container">
            <div class="section-head text-center mb-60 style-5">
                <h2 class="mb-20"> Opening <span> Positions </span> </h2>
                <!-- <div class="text color-666">More than 15,000 companies trust and choose Itech</div> -->
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <a href="career_dotNet.cshtml" target="_blank" class="position-card mb-4">
                        <h5 class="fonttype"> .Net MVC Developer </h5>
                        <p class="fonttype"> We’re looking for a .Net MVC Developer to join our team </p>
                        <div class="time">
                            <span class="me-4"> <i class="fal fa-clock me-1 color-main"></i> Full-time </span>
                            <!-- <span> <i class="fal fa-dollar-sign me-1 color-main"></i> 10k - $20k </span> -->
                        </div>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a href="career_businessDev.cshtml" target="_blank" class="position-card mb-4">
                        <h5 class="fonttype"> Business Development Executive </h5>
                        <p class="fonttype"> We’re looking for a Business Developer to join our team </p>
                        <div class="time">
                            <span class="me-4"> <i class="fal fa-clock me-1 color-main"></i> Full-time </span>
                            <!-- <span> <i class="fal fa-dollar-sign me-1 color-main"></i> 10k - $20k </span> -->
                        </div>
                        <!-- <span class="trend-mark"> <i class="fas fa-bolt"></i> </span> -->
                    </a>
                </div>
                <div class="col-lg-4">
                    <a href="career_odoo.cshtml" target="_blank" class="position-card mb-4">
                        <h5 class="fonttype"> Odoo ERP </h5>
                        <p class="fonttype"> We’re looking for a Odoo Developer to join our team </p>
                        <div class="time">
                            <span class="me-4"> <i class="fal fa-clock me-1 color-main"></i> Full-time </span>
                            <!-- <span> <i class="fal fa-dollar-sign me-1 color-main"></i> 10k - $20k </span> -->
                        </div>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a href="career_laravel.cshtml" target="_blank" class="position-card mb-4 mb-lg-0">
                        <h5 class="fonttype"> Laravel </h5>
                        <p class="fonttype"> We’re looking for a Laravel Developer to join our team </p>
                        <div class="time">
                            <span class="me-4"> <i class="fal fa-clock me-1 color-main"></i> Full-time </span>
                            <!-- <span> <i class="fal fa-dollar-sign me-1 color-main"></i> 10k - $20k </span> -->
                        </div>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a href="career_react.cshtml" target="_blank" class="position-card mb-4 mb-lg-0">
                        <h5 class="fonttype"> React </h5>
                        <p class="fonttype"> We’re looking for a React Developer to join our team </p>
                        <div class="time">
                            <span class="me-4"> <i class="fal fa-clock me-1 color-main"></i> Full-time </span>
                            <!-- <span> <i class="fal fa-dollar-sign me-1 color-main"></i> 10k - $20k </span> -->
                        </div>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a href="career_angular.cshtml" target="_blank" class="position-card">
                        <h5 class="fonttype"> Angular </h5>
                        <p class="fonttype"> We’re looking for a mid-level Angular Developer to join </p>
                        <div class="time">
                            <span class="me-4"> <i class="fal fa-clock me-1 color-main"></i> Full-time </span>
                            <!-- <span> <i class="fal fa-dollar-sign me-1 color-main"></i> 10k - $20k </span> -->
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- ====== end careers positions ====== -->
    <!-- ====== start career form ====== -->
    <section class="career-form section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-numbers">
                        <h2> Looking For Oppertunity </h2>
                        <!-- <p> More than 15,000 companies trust and choose Itech </p> -->
                        <div class="career-numbers mt-50">
                            <div class="row gx-5">
                                <div class="col-5">
                                    <div class="mum-card">
                                        <h3> <span class="counter"> 100k+ </span> </h3><br>
                                        <small> LINE OF CODES</small>
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="mum-card">
                                        <h3> <span class="counter"> 100+ </span>  </h3> <br>
                                        <small> PROJECTS COMPLETED </small>
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="mum-card">
                                        <h3> <span class="counter"> 50+ </span> </h3><br>
                                        <small> SATISFIED CLIENTS </small>
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="mum-card">
                                        <h3> <span class="counter"> 5 </span> </h3><br>
                                        <small> YEARS OF EXPERIENCE </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <form action="~/Page_ContactUs.cshtml" class="form">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group mb-4">
                                    <input type="text" class="form-control" placeholder="Full Name">
                                    <span class="icon"> <i class="fas fa-user"></i> </span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group mb-4">
                                    <input type="text" class="form-control" placeholder="Email Adress">
                                    <span class="icon"> <i class="fas fa-envelope"></i> </span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group mb-4">
                                    <input type="text" class="form-control" placeholder="Phone Number">
                                    <span class="icon"> <i class="fas fa-phone"></i> </span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group mb-4 upload-card">
                                    <div class="form-control">
                                        <span id="upload_text"> <i class="fas fa-cloud"></i> Upload CV</span>
                                        <input type="file" class="upload_input">
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group mb-4">
                                    <textarea rows="7" class="form-control" placeholder="Cover letter"></textarea>
                                    <span class="icon"> <i class="fas fa-pen"></i> </span>
                                </div>
                            </div>
                        </div>
                        <button class="btn bg-white sm-butn mt-4 rounded-3">
                            <span class="text-dark"> Make Request <i class="fal fa-long-arrow-right ms-2 color-blue5"></i> </span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <img src="~/assets/img/careers/map.png" alt="" class="map_img">
    </section>
    <!-- ====== end career form ====== -->

</main>
<!--End-Contents-->

<!-- ====== start to top button ====== -->

<!-- ====== end to top button ====== -->
<!-- ====== request ====== -->
<script src="~/assets/js/lib/jquery-3.0.0.min.js"></script>
<script src="~/assets/js/lib/jquery-migrate-3.0.0.min.js"></script>
<script src="~/assets/js/lib/bootstrap.bundle.min.js"></script>
<script src="~/assets/js/lib/wow.min.js"></script>
<script src="~/assets/js/lib/jquery.fancybox.js"></script>
<script src="~/assets/js/lib/lity.js"></script>
<script src="~/assets/js/lib/swiper.min.js"></script>
<script src="~/assets/js/lib/jquery.waypoints.min.js"></script>
<script src="~/assets/js/lib/jquery.counterup.js"></script>
<!-- <script src="assets/js/lib/pace.js"></script> -->
<script src="~/assets/js/lib/scrollIt.min.js"></script>
<script src="~/assets/js/main.js"></script>

<script>
    $('.upload_input').on('change', function (event) {
        var files = event.target.files;
        for (var i = 0; i < files.length; i++) {
            var file = files[i];
            $("#upload_text").cshtml(file.name).css("color", "#fff")
            // $("<div class='file__value'><div class='file__value--text'>" + file.name + "</div><div class='file__value--remove' data-id='" + file.name + "' ></div></div>").insertAfter('#upload_text');
        }
    });
</script>

</body>
</html>
