
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title> Odoo </title>
</head>
<body>

    <!-- ====== start inner-header style-5 ====== -->
    <section class="section s-hero s-tech-banner devops-mod s-hero__webflow ob is-visible" data-observe="" data-visible="">
        <!--style="background-color: #4a00e1;"-->
        <div class="s-hero__image" style="background-image: url(/assets/img/Office.jpg);margin-top:0px;"></div>
        <div class="s-hero__gradient"></div>
        <div class="s-banner__wrap wrap" style="display:flex;">
            <div class="s-banner__txt-box" style="width: 61%;">
                <h1 style="margin-top:280px;">Odoo ERP</h1>
                <p class="fontstyle" style="color:#fff;">Broadsy Technologies is looking for an ODOO Developer to join our dynamic and motivated team! If you have 1 to 5 years of experience and hold a Bachelor's Degree in Computer Science or a related field, we encourage you to apply.</p>
            </div>
            <div style="margin-top: 270px;"><img src="~/icons/output-onlinejpgtools-removebg-preview.png" alt="" style="width: 240px;"></div>
            <!---->
        </div>
        <!----><span data-callback="RemoveBanerListeners" class="s-banner__stop-par ob is-visible" data-observe="" data-visible=""></span>
    </section>



    <!-- ====== end inner-header style-5 ====== -->
    <!--Contents-->
    <main class="career-details-page style-5">

        <!-- ====== start careers-features ====== -->
        <section class="jop-details pb-100">
            <div class="container">
                <div class="content">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="jop-info">

                                <h6 class="mt-40 mb-20">Job Responsibilities:</h6>
                                <p>As an ODOO Developer, your key responsibilities will include:<br><br></p>
                                <div class="text d-flex mb-20">
                                    <span class="icon color-blue5 me-2 flex-shrink-0"> <i class="fas fa-check-circle"></i> </span>
                                    <p class="fonttype"> Leading and participating in various development projects, contributing to our technical operations.</p>
                                </div>
                                <div class="text d-flex mb-20">
                                    <span class="icon color-blue5 me-2 flex-shrink-0"> <i class="fas fa-check-circle"></i> </span>
                                    <p class="fonttype"> Driving improvements in the software development process to enhance quality.</p>
                                </div>
                                <div class="text d-flex mb-20">
                                    <span class="icon color-blue5 me-2 flex-shrink-0"> <i class="fas fa-check-circle"></i> </span>
                                    <p class="fonttype">Identifying and solving complex performance and architectural challenges.</p>
                                </div>
                                <div class="text d-flex mb-20">
                                    <span class="icon color-blue5 me-2 flex-shrink-0"> <i class="fas fa-check-circle"></i> </span>
                                    <p class="fonttype"> Developing applications and features that impact daily life.</p>
                                </div>

                                <!-- ---------- -->
                                <h6 class="mt-40 mb-20"> Roles & Activities:</h6>
                                <div class="text d-flex mb-20">
                                    <span class="icon color-blue5 me-2 flex-shrink-0"> <i class="fas fa-check-circle"></i> </span>
                                    <p class="fonttype"> Design and develop ODOO apps (custom module development and customization).</p>
                                </div>

                                <div class="text d-flex mb-20">
                                    <span class="icon color-blue5 me-2 flex-shrink-0"> <i class="fas fa-check-circle"></i> </span>
                                    <p class="fonttype">Analyze scope documents and create detailed requirements in collaboration with teams. </p>
                                </div>
                                <div class="text d-flex mb-20">
                                    <span class="icon color-blue5 me-2 flex-shrink-0"> <i class="fas fa-check-circle"></i> </span>
                                    <p class="fonttype"> Ensure code readability and maintainability by following best software development practices. </p>
                                </div>
                                <div class="text d-flex mb-20">
                                    <span class="icon color-blue5 me-2 flex-shrink-0"> <i class="fas fa-check-circle"></i> </span>
                                    <p class="fonttype"> Utilize existing ODOO features to achieve project objectives.</p>
                                </div>                                <div class="text d-flex mb-20">
                                    <span class="icon color-blue5 me-2 flex-shrink-0"> <i class="fas fa-check-circle"></i> </span>
                                    <p class="fonttype"> Develop custom modules to meet specific business needs.</p>
                                </div>                                <div class="text d-flex mb-20">
                                    <span class="icon color-blue5 me-2 flex-shrink-0"> <i class="fas fa-check-circle"></i> </span>
                                    <p class="fonttype"> Maintain code in Git Version Control following standard processes.</p>
                                </div>                                <div class="text d-flex mb-20">
                                    <span class="icon color-blue5 me-2 flex-shrink-0"> <i class="fas fa-check-circle"></i> </span>
                                    <p class="fonttype"> Implement best practices for secure software development.</p>
                                </div>


                                <h6 class="mt-40 mb-20"> Required Skill Set: </h6>
                                <div class="text d-flex mb-20">
                                    <span class="icon color-blue5 me-2 flex-shrink-0"> <i class="fas fa-check-circle"></i> </span>
                                    <p class="fonttype"> Strong knowledge of Python and programming concepts. </p>
                                </div>
                                <div class="text d-flex mb-20">
                                    <span class="icon color-blue5 me-2 flex-shrink-0"> <i class="fas fa-check-circle"></i> </span>
                                    <p class="fonttype"> In-depth understanding of ODOO's basic flow and data models.</p>
                                </div>
                                <div class="text d-flex mb-20">
                                    <span class="icon color-blue5 me-2 flex-shrink-0"> <i class="fas fa-check-circle"></i> </span>
                                    <p class="fonttype"> Expertise in custom module development and ODOO Techno-functional knowledge.</p>
                                </div>
                                <div class="text d-flex mb-20">
                                    <span class="icon color-blue5 me-2 flex-shrink-0"> <i class="fas fa-check-circle"></i> </span>
                                    <p class="fonttype">Experience in developing and debugging latest ODOO versions.</p>
                                </div>
                                <div class="text d-flex mb-20">
                                    <span class="icon color-blue5 me-2 flex-shrink-0"> <i class="fas fa-check-circle"></i> </span>
                                    <p class="fonttype">Hands-on experience in ODOO migrations from earlier versions.</p>
                                </div>
                                <div class="text d-flex mb-20">
                                    <span class="icon color-blue5 me-2 flex-shrink-0"> <i class="fas fa-check-circle"></i> </span>
                                    <p class="fonttype"> Familiarity with ODOO modules (Sales, Purchase, CRM, Accounts, Inventory, Projects, HR, etc.).</p>
                                </div>

                                <div class="text d-flex mb-20">
                                    <span class="icon color-blue5 me-2 flex-shrink-0"> <i class="fas fa-check-circle"></i> </span>
                                    <p class="fonttype"> Knowledge of ODOO front-end development (XML, JavaScript).</p>
                                </div>

                                <div class="text d-flex mb-20">
                                    <span class="icon color-blue5 me-2 flex-shrink-0"> <i class="fas fa-check-circle"></i> </span>
                                    <p class="fonttype"> Strong command over PostgreSQL and SQL query writing.</p>
                                </div>

                                <div class="text d-flex mb-20">
                                    <span class="icon color-blue5 me-2 flex-shrink-0"> <i class="fas fa-check-circle"></i> </span>
                                    <p class="fonttype"> Experience with Q-Web reports and data imports in ODOO.</p>
                                </div>

                                <div class="text d-flex mb-20">
                                    <span class="icon color-blue5 me-2 flex-shrink-0"> <i class="fas fa-check-circle"></i> </span>
                                    <p class="fonttype"> Proficiency in Git version control and Linux-based operating systems.</p>
                                </div>

                                <h6 class="mt-40 mb-20"> Preferred Skills & Qualifications</h6>
                                <div class="text d-flex mb-20">
                                    <span class="icon color-blue5 me-2 flex-shrink-0"> <i class="fas fa-check-circle"></i> </span>
                                    <p class="fonttype"> Master's degree in Business Administration, Marketing, or related fields. </p>
                                </div>
                                <div class="text d-flex mb-20">
                                    <span class="icon color-blue5 me-2 flex-shrink-0"> <i class="fas fa-check-circle"></i> </span>
                                    <p class="fonttype">Experience with Upwork, LinkedIn, Clutch, etc. for lead generation.</p>
                                </div>
                                <div class="text d-flex mb-20">
                                    <span class="icon color-blue5 me-2 flex-shrink-0"> <i class="fas fa-check-circle"></i> </span>
                                    <p class="fonttype"> Strong leadership skills to motivate and manage teams. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="summary-card">
                                <h6 class="mb-20 pb-20"> Summary </h6>
                                <ul>
                                    <li> Published on: <span class="color">1st March 2025 </span> </li>
                                    <li> Vacancy: <span class="color"> 2 </span> </li>
                                    <li> Employment Status: <span class="color"> Full-time </span> </li>
                                    <li> Experience: <span class="color"> At least 2 year(s) </span> </li>
                                    <li> Gender: <span class="color"> Male/Females </span> </li>
                                    <li> Age: <span class="color"> 18 to 35 years </span> </li>
                                    <li> Job Location: <span class="color"> Ahmedabad, India  </span> </li>
                                    <li> Salary: <span class="color"> Negotiable  </span> </li>
                                    <!-- <li> Application Deadline: <span class="color"> 6 Nov 2023  </span> </li> -->
                                </ul>
                                <a href="#career-form" class="btn bg-blue5 sm-butn text-white hover-darkBlue w-100 mt-3 rounded-pill py-3">
                                    <span> Apply For Job </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ====== end careers-features ====== -->
        
        <!-- ====== start career form ====== -->
        <section id="career-form" class="career-form section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-numbers">
                            <h2> Looking For Oppertunity </h2>
                            <!-- <p> More than 15,000 companies trust and choose Itech </p> -->
                            <div class="career-numbers mt-50">
                                <div class="row gx-5">
                                    <div class="col-5">
                                        <div class="mum-card">
                                            <h3> <span class="counter"> 100k+ </span> </h3><br>
                                            <small> LINE OF CODES</small>
                                        </div>
                                    </div>
                                    <div class="col-5">
                                        <div class="mum-card">
                                            <h3> <span class="counter"> 100+ </span>  </h3> <br>
                                            <small> PROJECTS COMPLETED </small>
                                        </div>
                                    </div>
                                    <div class="col-5">
                                        <div class="mum-card">
                                            <h3> <span class="counter"> 50+ </span> </h3><br>
                                            <small> SATISFIED CLIENTS </small>
                                        </div>
                                    </div>
                                    <div class="col-5">
                                        <div class="mum-card">
                                            <h3> <span class="counter"> 5 </span> </h3><br>
                                            <small> YEARS OF EXPERIENCE </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <form action="contact.php" class="form">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group mb-4">
                                        <input type="text" class="form-control" placeholder="Full Name">
                                        <span class="icon"> <i class="fas fa-user"></i> </span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group mb-4">
                                        <input type="text" class="form-control" placeholder="Email Adress">
                                        <span class="icon"> <i class="fas fa-envelope"></i> </span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group mb-4">
                                        <input type="text" class="form-control" placeholder="Phone Number">
                                        <span class="icon"> <i class="fas fa-phone"></i> </span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group mb-4 upload-card">
                                        <div class="form-control">
                                            <span id="upload_text"> <i class="fas fa-cloud"></i> Upload CV</span>
                                            <input type="file" class="upload_input">
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group mb-4">
                                        <textarea rows="7" class="form-control" placeholder="Cover letter"></textarea>
                                        <span class="icon"> <i class="fas fa-pen"></i> </span>
                                    </div>
                                </div>
                            </div>
                            <button class="btn bg-white sm-butn mt-4 rounded-3">
                                <span class="text-dark"> Make Request <i class="fal fa-long-arrow-right ms-2 color-blue5"></i> </span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <img src="assets/img/careers/map.png" alt="" class="map_img">
        </section>
        <!-- ====== end career form ====== -->

    </main>
    <!--End-Contents-->

    <!-- ====== start to top button ====== -->
    
    <!-- ====== end to top button ====== -->
    <!-- ====== request ====== -->
    <script src="assets/js/lib/jquery-3.0.0.min.js"></script>
    <script src="assets/js/lib/jquery-migrate-3.0.0.min.js"></script>
    <script src="assets/js/lib/bootstrap.bundle.min.js"></script>
    <script src="assets/js/lib/wow.min.js"></script>
    <script src="assets/js/lib/jquery.fancybox.js"></script>
    <script src="assets/js/lib/lity.js"></script>
    <script src="assets/js/lib/swiper.min.js"></script>
    <script src="assets/js/lib/jquery.waypoints.min.js"></script>
    <script src="assets/js/lib/jquery.counterup.js"></script>
    <!-- <script src="assets/js/lib/pace.js"></script> -->
    <script src="assets/js/lib/scrollIt.min.js"></script>
    <script src="assets/js/main.js"></script>

    <script>
        $('.upload_input').on('change', function (event) {
            var files = event.target.files;
            for (var i = 0; i < files.length; i++) {
                var file = files[i];
                $("#upload_text").html(file.name).css("color", "#fff")
                // $("<div class='file__value'><div class='file__value--text'>" + file.name + "</div><div class='file__value--remove' data-id='" + file.name + "' ></div></div>").insertAfter('#upload_text');
            }
        });
    </script>
    <style>
        body {
            color: #51555c;
            font-family: Lexend Deca, system-ui, -apple-system, Segoe UI, Roboto, Helvetica Neue, Noto Sans, Liberation Sans, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.75;
        }
    </style>
    <link rel="StyleSheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

</body>
</html>