@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<html lang="en">
<head>
    <title> Hire Dedicated Developers </title>
    <script src="~/assets/js/HireTechTab.js"></script>
</head>
<body style="background-color:#fff;">

    <section class="section s-hero s-tech-banner devops-mod s-hero__webflow ob is-visible" data-observe="" data-visible="">
        <!--style="background-color: #4a00e1;"-->
        <div class="s-hero__image" style="background-image: url(assets/img/hireResources.jpg);margin-top:0px;"></div>
        <div class="s-banner__wrap wrap" style="display:flex;">
            <div class="s-banner__txt-box" style="width: 61%;">
                <h1 style="margin-top:190px;">Hire Dedicated Developers from India</h1>
                <p class="fontstyle" style="color:#fff;">Enhance your software development capabilities with our skilled and experienced dedicated developers. Build cutting-edge solutions tailored to your business needs-hassle-free hiring within 48 hours.</p>
            </div>
            <!---->
        </div>
        <!----><span data-callback="RemoveBanerListeners" class="s-banner__stop-par ob is-visible" data-observe="" data-visible=""></span>
    </section>



    <section class="container tabs tabbibg-sec hover-box">
        <div class="cont-padding text-center">
            <h2 style="margin-top:30px;">Hire Dedicated Developers for All Your Technology Needs</h2>
            <!-- <p> We have 13+ years of proven experience in the service industry. <b>Hire dedicated developers</b> from India to scale your development team and manage the entire development cycle of your project in a hassle-free way. </p> -->
        </div>
        <div class="tab-content">
            <div class="tab-header md:flex flex-wrap" style="margin-bottom: 30px;">
                <div class="tab-head active" data-id="frontend">
                    <div class="head bg-gray-light">Frontend</div>
                </div>
                <div class="tab-head" data-id="backend">
                    <div class="head bg-gray-light">Backend</div>
                </div>
                <div class="tab-head" data-id="odoo">
                    <div class="head bg-gray-light">Odoo ERP</div>
                </div>
                <div class="tab-head" data-id="mobile">
                    <div class="head bg-gray-light">Mobile App</div>
                </div>
            </div>
            <div>
                <div class="tab-pane active" id="frontend">
                    <div class="grid gap-6 grid-cols-1  lg:grid-cols-4">
                        <a href="Hier_resources_Anguler.cshtml" target="_blank" class="tab-item">
                            <div class="boxed bg-gray-light border border-secondary flex items-center h-full" onmouseover="this.style.backgroundColor='#157efb'" onMouseOut="this.style.backgroundColor='#fff'">
                                <div class="svg-icon">
                                    <img src="~/icons/angular.svg" alt="Angular Developer" loading="lazy" height="48" width="48">
                                </div>
                                <h3 class="text-h4 mb-0 ml-sm">Angular Developer</h3>
                            </div>
                        </a>
                        <a href="Hier_resources.Reactjs.cshtml" target="_blank">
                            <div class="boxed bg-gray-light border border-secondary flex items-center h-full" onmouseover="this.style.backgroundColor='#157efb'" onMouseOut="this.style.backgroundColor='#fff'">
                                <div class="svg-icon">
                                    <img src="~/icons/react.svg" alt="React Developer" loading="lazy" height="48" width="48">
                                </div>
                                <h3 class="text-h4 mb-0 ml-sm">React Developer</h3>
                            </div>
                        </a>
                        <a href="Hier_resources_vuejs.cshtml" target="_blank">
                            <div class="boxed bg-gray-light border border-secondary flex items-center h-full" onmouseover="this.style.backgroundColor='#157efb'" onMouseOut="this.style.backgroundColor='#fff'">
                                <div class="svg-icon">
                                    <img src="~/icons/vue.svg" loading="lazy" height="48" width="48">
                                </div>
                                <h3 class="text-h4 mb-0 ml-sm">Vue Developer</h3>
                            </div>
                        </a>
                        <a href="Hier_resources_js.cshtml" target="_blank">
                            <div class="boxed bg-gray-light border border-secondary flex items-center h-full" onmouseover="this.style.backgroundColor='#157efb'" onMouseOut="this.style.backgroundColor='#fff'">
                                <div class="svg-icon">
                                    <img src="~/icons/javascript.svg" alt="Javascript Developer" loading="lazy" height="48" width="48">
                                </div>
                                <h3 class="text-h4 mb-0 ml-sm">Javascript Developer</h3>
                            </div>
                        </a>
                        <a href="Hier_resources_TS.cshtml" target="_blank">
                            <div class="boxed bg-gray-light border border-secondary flex items-center h-full" onmouseover="this.style.backgroundColor='#157efb'" onMouseOut="this.style.backgroundColor='#fff'">
                                <div class="svg-icon">
                                    <img src="~/icons/typescript.svg" alt="Typescript Developer" loading="lazy" height="48" width="48">
                                </div>
                                <h3 class="text-h4 mb-0 ml-sm">Typescript Developer</h3>
                            </div>
                        </a>

                    </div>
                </div>
                <div class="tab-pane" id="backend">
                    <!-- <div class="grid gap-6 grid-cols-1  lg:grid-cols-4">

                        <a href="Hier_resources_Node.cshtml" target="_blank">
                             <div class="boxed bg-gray-light border border-secondary flex items-center h-full" onmouseover="this.style.backgroundColor='#157efb'"onMouseOut="this.style.backgroundColor='#fff'">
                                <div class="svg-icon">
                                    <img src="/icons/nodejs.svg"  alt="Node Developer" loading="lazy" height="48" width="48">
                                </div>
                                <h3 class="text-h4 mb-0 ml-sm">Node Developer</h3>
                            </div>
                        </a>

                        <a href="Hier_resources.laravel.cshtml" target="_blank">
                             <div class="boxed bg-gray-light border border-secondary flex items-center h-full" onmouseover="this.style.backgroundColor='#157efb'"onMouseOut="this.style.backgroundColor='#fff'">
                                <div class="svg-icon">
                                    <img src="/icons/laravel.svg" alt="Laravel Developer" loading="lazy" height="48" width="48">
                                </div>
                                <h3 class="text-h4 mb-0 ml-sm">Laravel Developer</h3>
                            </div>
                        </a>
                         <a href="Hier_resources_Net.cshtml" target="_blank">
                                <div class="boxed bg-gray-light border border-secondary flex items-center h-full" onmouseover="this.style.backgroundColor='#157efb'"onMouseOut="this.style.backgroundColor='#fff'">
                                    <div class="svg-icon">
                                        <img src="/icons/dotnet.svg" alt=".NET Developer" loading="lazy" height="48" width="48">
                                    </div>
                                    <h3 class="text-h4 mb-0 ml-sm">.NET Developer</h3>
                                </div>
                            </a>





                        <a href="Hier_resources_php.cshtml" target="_blank">
                             <div class="boxed bg-gray-light border border-secondary flex items-center h-full" onmouseover="this.style.backgroundColor='#157efb'"onMouseOut="this.style.backgroundColor='#fff'">
                                <div class="svg-icon">
                                    <img src="/icons//php.svg"  alt="PHP Developer" loading="lazy" height="48" width="48">
                                </div>
                                <h3 class="text-h4 mb-0 ml-sm">PHP Developer</h3>
                            </div>
                        </a>
                    </div> -->
                </div>
                <div class="tab-pane" id="odoo">
                    <!-- <div class="grid gap-6 grid-cols-1 lg:grid-cols-4">
                    <a href="Hier_resources_odoo.cshtml" target="_blank">
                             <div class="boxed bg-gray-light border border-secondary flex items-center h-full" onmouseover="this.style.backgroundColor='#157efb'"onMouseOut="this.style.backgroundColor='#fff'">
                                <div class="svg-icon">
                                    <img src="icons/odoo.png" alt="">
                                </div>
                                <h3 class="text-h4 mb-0 ml-sm">odoo </h3>
                            </div>
                        </a>
                        </div>-->
                </div>
                <div class="tab-pane" id="mobile">
                    <!--  <div class="grid gap-6 grid-cols-1  lg:grid-cols-4">
                        <a href="Hier_resources_react.cshtml" target="_blank">
                             <div class="boxed bg-gray-light border border-secondary flex items-center h-full" onmouseover="this.style.backgroundColor='#157efb'"onMouseOut="this.style.backgroundColor='#fff'">
                                <div class="svg-icon">
                                    <img src="/icons/react.svg"  alt="React Native Developer" loading="lazy" height="48" width="48">
                                </div>
                                <h3 class="text-h4 mb-0 ml-sm">React Native Developer</h3>
                            </div>
                        </a>
                        <a href="Hier_resources_flutter.cshtml" target="_blank">
                             <div class="boxed bg-gray-light border border-secondary flex items-center h-full" onmouseover="this.style.backgroundColor='#157efb'"onMouseOut="this.style.backgroundColor='#fff'">
                                <div class="svg-icon">
                                    <img src="/icons/flutter.svg"  alt="Flutter Developer" loading="lazy" height="48" width="48">
                                </div>
                                <h3 class="text-h4 mb-0 ml-sm">Flutter Developer</h3>
                            </div>
                        </a>


                        <a href="Hier_resources_ios.cshtml" target="_blank">
                             <div class="boxed bg-gray-light border border-secondary flex items-center h-full" onmouseover="this.style.backgroundColor='#157efb'"onMouseOut="this.style.backgroundColor='#fff'">
                                <div class="svg-icon">
                                    <img src="/icons/apple.svg"  alt="IOS Developer" loading="lazy" height="48" width="48">
                                </div>
                                <h3 class="text-h4 mb-0 ml-sm">IOS Developer</h3>
                            </div>
                        </a>

                        <a href="Hier_resources_Android.cshtml" target="_blank">
                             <div class="boxed bg-gray-light border border-secondary flex items-center h-full" onmouseover="this.style.backgroundColor='#157efb'"onMouseOut="this.style.backgroundColor='#fff'">
                                <div class="svg-icon">
                                    <img src="/icons/android.svg"  alt="Android Developer" loading="lazy" height="48" width="48">
                                </div>
                                <h3 class="text-h4 mb-0 ml-sm">Android Developer</h3>
                            </div>
                        </a>
                    </div> -->
                </div>
            </div>
        </div>
        
    </section>

    <section class="container text-center">
        <div class="cont-padding">
            <h2>Bridge the Talent Gap with Dedicated Developers</h2>
            <p>Leverage our flexible, transparent hiring models to find the right talent for your development needs. Pay only for what you need-nothing more. Choose from three tailored business models and let our dedicated developers help you achieve your software development goals seamlessly.</p>
        </div>
        <div class="grid sm:grid-cols-2 md:grid-cols-3 gap-6">
            <div class="boxed" style="background-color:#157efb;">
                <div class="svg-icon mb-sm">
                    <img src="~/icons/icon-04.svg" alt="Fixed Price" width="48" height="48" loading="lazy" class="mx-auto">
                </div>
                <h3 class="text-h4 text-white mb-0">Fixed Cost</h3>
            </div>
            <div class="boxed" style="background-color:#157efb;">
                <div class="svg-icon mb-sm">
                    <img src="~/icons/icon-05.svg" alt="Time and Material" width="48" height="48" loading="lazy" class="mx-auto">
                </div>
                <h3 class="text-h4 text-white mb-0">Time & Material</h3>
            </div>
            <div class="boxed" style="background-color:#157efb;">
                <div class="svg-icon mb-sm">
                    <img src="~/icons/icon-06.svg" alt="Dedicated Team" width="48" height="48" loading="lazy" class="mx-auto">
                </div>
                <h3 class="text-h4 text-white mb-0">Dedicated Team</h3>
            </div>
        </div>
    </section>





    <section class="bg-gray-light">
        <div class="container">
            <h2 class="text-center cont-padding">Seamlessly Hire Dedicated Developers from Broadsy</h2>
            <h3 class="text-center cont-padding">Simple & Seamless Hiring Process</h3>
            <div class="grid gap-6 grid-cols-1 md:grid lg:grid-cols-4">
                <div class="boxed bg-white">
                    <span class="bg-dark text-white h-11 w-11 flex items-center justify-center rounded-full mb-sm" style="background-color:#157efb !important;">1</span>
                    <h3 class="text-h4 small-heading" style="height: 68px;">Define Your Requirements</h3>
                    <p>Share your skill requirements, and we'll analyze your needs.</p>
                </div>
                <div class="boxed bg-white">
                    <span class="bg-dark text-white h-11 w-11 flex items-center justify-center rounded-full mb-sm" style="background-color:#157efb !important;">2</span>
                    <h3 class="text-h4 small-heading" style="height: 68px;">Access Pre-Vetted Talent</h3>
                    <p>Receive a curated list of top-tier candidates within days.</p>
                </div>
                <div class="boxed bg-white">
                    <span class="bg-dark text-white h-11 w-11 flex items-center justify-center rounded-full mb-sm" style="background-color:#157efb !important;">3</span>
                    <h3 class="text-h4 small-heading" style="height: 68px;">Interview & Select</h3>
                    <p>Schedule interviews to choose the best-fit developers for your project.</p>
                </div>
                <div class="boxed bg-white">
                    <span class="bg-dark text-white h-11 w-11 flex items-center justify-center rounded-full mb-sm" style="background-color:#157efb !important;">4</span>
                    <h3 class="text-h4 small-heading" style="height: 68px;"> Start with Confidence</h3>
                    <p>Begin your development journey with a 15-day risk-free trial.</p>
                </div>
            </div>
            <!-- <div class="text-center mt-md"> -->
            <!-- <a href="#form" class="btn btn-outline-primary">Hire Developer</a> -->
            <!-- </div> -->
        </div>
    </section>

    <section class="container">
        <div class="cont-padding">
            <h2>Why Choose Broadsy for Hiring Dedicated Developers in India?</h2>
            <p>At Broadsy, we provide top-tier IT talent to streamline your projects and maximize your ROI. Our skilled developers bring vast experience and expertise, ensuring high-quality solutions tailored to your needs. Partner with us and enjoy the following benefits:</p>
        </div>
        <div class="grid md:grid-cols-2 gap-6">
            <div>
                <img src="~/icons/section-side-1.jpg" alt="Why Select Bacancy For Hiring Dedicated Developers in India?" title="Why Select Bacancy For Hiring Dedicated Developers in India?" class="h-full w-full object-cover" loading="lazy" width="550" height="600">
            </div>
            <div class="style-check">
                <ul class="fontstyle">
                    <li><b>Agile Methodology-</b>Stay aligned with our seamless development process</li>
                    <li><b> Quick Resource Allocation-</b>Kick-start your project without delays</li>
                    <li><b> Access to Global IT Talent-</b>Hire the best developers worldwide</li>
                    <li><b>Diverse Technical Expertise-</b>Leverage a wide technology stack</li>
                    <li> <b>Flexible & Transparent Pricing-</b>Pay only for what you need</li>
                    <li> <b>On-Time Project Delivery-</b>Ensuring success without delays</li>
                    <li><b>Strict NDA Compliance-</b>Your business confidentiality is our priority</li>
                    <li><b>Hassle-Free Exit Policy-</b>Full flexibility with zero complications</li>
                </ul>
                <br><br>
                <h6>Hire with confidence and scale your business effortlessly with Broadsy!</h6>
                <!-- <a href="#form" class="btn btn-outline-primary mt-md">Submit Your Project Requirement</a> -->
            </div>
        </div>
        <br><br><br><br>
    </section>

    <main class="careers-page style-5 ">

        <section class="career-form " style="margin-top: -126px;">


            <div class="container">
                <div class="form-sec max-md:px-7 md:px-12 lg:px-lg py-lg " id="form">
                    <div class="text-center cont-padding" id="schedule-interview">
                        <h2 class="text-white">Schedule A Developer Interview and Get 15 Days Risk-Free Trial</h2>

                        <p class="text-h5 text-white">We ensure you're matched with the right talent resource based on your requirement.</p>
                    </div>
                    <form action="" class="inquiry-form-block form--square tech-form" id="contactfullForm" data-success="Thanks for your enquiry, we'll be in touch soon" data-error="Please fill all required fields" novalidate="novalidate">
                        <div class="grid gap-6 grid-cols-1 lg:grid-cols-3">
                            <div>
                                <input type="text" class="form-control formTextbox" id="focus-id" maxlength="80" name="contactName" size="20" placeholder="Your Name">
                            </div>
                            <div class="relative">
                                <input type="email" class="form-control validate-required formTextbox" placeholder="Work Email Address" id="email" maxlength="80" name="contactEmail" size="20">
                            </div>
                            <div>
                                <input type="tel" class="form-control formTextbox" placeholder="Phone Number" id="phone" maxlength="10" name="contactPhone" pattern="[0-9]{10}" size="20" nkeypress="return isNumberKey(event)">
                            </div>
                            <div class="col-span-full">
                                <textarea class="form-control formTextbox" rows="3" placeholder="Describe Your Requirements" name="contactMessage"></textarea>
                            </div>
                            <div class="col-span-full text-center text-white">
                                <button class="btn btn-primary formTextbox" name="contactBtn">inquire now</button>
                                <div class="md:flex text-h2 items-center justify-center mt-sm [&amp;_.mail-id]:border-white [&amp;_.mail-id]:border-b-2 [&amp;_.mail-id]:font-bold">

                                    <i class="fa-solid fa-envelope" style="color: #ffffff;margin-right:15px;margin-top: 13px;"></i>
                                    <a href="mailto:info@broadsytechnologies.com" class="mail-id" style="color: #ffffff;">sales@broadsytechnologies.com</a>
                                </div>
                                <p class="mt-sm" style="color: #ffffff;">Your Success Is Guaranteed</p>
                                <p class="fontstyle" style="color: #ffffff;">We accelerate the release of digital products and guarantee your success</p>
                                <p class="fontstyle formb" style="color: #ffffff;">We Use <b>Slack</b>, <b>Jira</b> &amp; <b>GitHub</b> for Accurate Deployment and Effective Communication.</p>
                            </div>
                        </div>
                    </form>
                </div>

            </div>

            <img src="assets/img/careers/map.png" alt="" class="map_img">
        </section>
    </main>

    <style>
        body {
            color: #51555c;
            font-family: Lexend Deca, system-ui, -apple-system, Segoe UI, Roboto, Helvetica Neue, Noto Sans, Liberation Sans, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.75;
        }
    </style>
</body>
</html>

