@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<html lang="en">
<head>
    <title> Hire TypeScript Developers </title>
</head>

<body style="background-color:#fff;">

    <section class="section s-hero s-tech-banner devops-mod s-hero__webflow ob is-visible" data-observe="" data-visible="">
        <!--style="background-color: #4a00e1;"-->
        <div class="s-hero__image" style="background-image: url(assets/img/Office.jpg);margin-top:0px;"></div>
        <div class="s-hero__gradient"></div>
        <div class="s-banner__wrap wrap" style="display:flex;">
            <div class="s-banner__txt-box" style="width:70%;">
                <h1 style="margin-top:130px;">Hire Expert TypeScript Developers for Scalable & Secure Web Solutions</h1>
                <p class="fontstyle" style="color:#fff;">Work with industry-vetted TypeScript developers to streamline your development process. Our experts leverage AI-powered efficiency to build robust, scalable, and secure web applications that drive exceptional results.</p>
            </div>
            <div style="margin-top: 160px;"><img src="icons/icons8-typescript-500.png" alt="" style="width: 240px;"></div>
            <!---->
        </div>
        <!----><span data-callback="RemoveBanerListeners" class="s-banner__stop-par ob is-visible" data-observe="" data-visible=""></span>
    </section>

    <section class="container grid md:grid-cols-2 gap-6">
        <div>
            <div class="side-sticky" style="top: 171px;">
                <div class="md:cont-padding">
                    <h2>Build High-Performance Applications with Our TypeScript Experts</h2>
                    <p class="fontstyle">Hire top-tier TypeScript developers to enhance your team's efficiency and overcome development challenges. Our industry-vetted programmers bring deep expertise to create interactive, scalable, and high-performing web applications tailored to your business needs.</p>
                </div>

            </div>
        </div>
        <div class="boxed border border-secondary pb-0 resp-btn-outer style-check">
            <p class="text-primary font-bold">Why Choose Our TypeScript Developers?</p>
            <ul class="fontstyle">
                <li>Advanced Front-End Development Expertise</li>
                <li> Proficiency in JavaScript Tools & Libraries</li>
                <li>Strong Knowledge of Databases & Version Control</li>
                <li>Experience with Task Runners (Grunt, Gulp) & Build Tools (Webpack)</li>
                <li>  Expertise in Debugging & Performance Optimization</li>
                <li>Hands-on Experience with GraphQL & RESTful APIs</li>
                <li> Familiarity with Automated Testing & CI/CD Pipelines</li>
                <li>Skilled in DOM Manipulation, HTML, & CSS</li>
                <li>Proficient in Back-End Technologies (Express.js, Node.js)</li>
                <li>Strong Git & Version Control Management </li>
            </ul>
            <div class="svg-icon float-right">
                <img src="~/icons/typescript.svg?v-1"  alt="Typescript icon" height="60" width="60" loading="lazy">
            </div>
        </div>
    </section>

    <section class="bg-gray-light">
        <div class="container grid gap-6 md:gap-y-0 grid-cols-1 md:grid-cols-2">
            <div>
                <div class="side-sticky" style="top: 171px;">
                    <div class="md:cont-padding">
                        <h2>Unlock Scalable & High-Performance Solutions with Our TypeScript Development Services</h2>
                        <p class="fontstyle">
                            Hire expert TypeScript developers to build powerful, scalable, and maintainable applications tailored to your business needs. Our team specializes in developing mission-critical applications that drive efficiency and growth.
                        </p>
                    </div>

                </div>
            </div>
            <div class="grid grid-cols-1 gap-y-6 resp-btn-outer-two">
                <div class="boxed bg-white">
                    <h3 class="text-h4"> TypeScript Web Development</h3>
                    <p class="fontstyle">Leverage our TypeScript developers' expertise to build high-performing, seamless web applications using modern tools and libraries for an enhanced user experience.</p>
                </div>
                <div class="boxed bg-white">
                    <h3 class="text-h4"> TypeScript App Development</h3>
                    <p class="fontstyle">Hire TypeScript experts to develop next-gen, cost-effective applications that align with your business goals, ensuring efficiency, reliability, and performance.</p>
                </div>
                <div class="boxed bg-white">
                    <h3 class="text-h4">Enterprise App Development</h3>
                    <p class="fontstyle"> Develop scalable, enterprise-grade applications with intuitive UI, enhanced functionalities, and optimized performance for long-term business success.</p>
                </div>
                <div class="boxed bg-white">
                    <h3 class="text-h4"> TypeScript Consultation</h3>
                    <p class="fontstyle">Get expert guidance on leveraging TypeScript to enhance your development process, ensuring seamless integration with modern technologies.</p>
                </div>
                <div class="boxed bg-white">
                    <h3 class="text-h4">JavaScript to TypeScript Migration</h3>
                    <p class="fontstyle">Upgrade your JavaScript applications to a fully optimized TypeScript codebase with minimal disruption and maximum efficiency.</p>
                </div>
                <div class="boxed bg-white">
                    <h3 class="text-h4">Application Optimization Services</h3>
                    <p class="fontstyle">Improve agility, resolve inefficiencies, and enhance performance with our comprehensive TypeScript code analysis and optimization solutions.</p>
                </div>
            </div>
        </div>
    </section>





    <section class="bg-gray-light tech-stack" id="technical-stack">
        <div class="container">
            <div class="text-center cont-padding">
                <h2>Technical Expertise of Our TypeScript Developer</h2>
                <p class="fontstyle">Our proficient TypeScript developers stay updated with the latest tech trends and advancements to ensure the development of robust apps that meet the growing competition within the market. The expertise of our TypeScript developers for hire includes.</p>
            </div>
            <table class="technical-Stack">
                <tbody>
                    <tr>
                        <td>Web and Full Stack</td>
                        <td>
                            <span>PHP</span>
                            <span>Python</span>
                            <span>Laravel </span>
                            <span>MEAN</span>
                            <span>ReactJS</span>
                            <span>Angular</span>
                            <span>Golang</span>
                            <span>MERN</span>
                            <span>DevOps</span>
                            <span>NodeJS</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Microsoft Technologies</td>
                        <td>
                            <span>.NET</span>
                            <span>Xamarin</span>
                            <span>Sharepoint</span>
                            <span>Sitecore</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Mobility</td>
                        <td>
                            <span>Android</span>
                            <span>iOS</span>
                            <span>Kotlin</span>
                            <span>React Native</span>
                            <span>Flutter</span>
                            <span>Ionic</span>
                        </td>
                    </tr>
                    <tr>
                        <td>JavaScript</td>
                        <td>
                            <span>AngularJS</span>
                            <span>Node.js</span>
                            <span>Vue.js</span>
                            <span>ReactJS</span>
                        </td>
                    </tr>
                    <tr>
                        <td>eCommerce and CMS</td>
                        <td>
                            <span>Magento</span>
                            <span>WordPress</span>
                            <span>Kentico</span>
                            <span>Umbraco</span>
                            <span>Drupal</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Database</td>
                        <td>
                            <span>MySQL</span>
                            <span>PostgreSQL</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Libraries and APIs</td>
                        <td>
                            <span>Tailwind</span>
                            <span>Material UI</span>
                            <span>jQuery</span>
                            <span>TypeORM</span>
                            <span>Axios</span>
                            <span>Next.js</span>
                            <span>Formik</span>
                            <span>TypeGraphQL</span>
                            <span>REST APIs</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Storage</td>
                        <td>
                            <span>Google Cloud Platform</span>
                            <span>Heroku</span>
                            <span>AWS</span>
                        </td>
                    </tr>
                    <tr>
                        <td>AI Tools</td>
                        <td>
                            <span>Github Co-Pilot</span>
                            <span>ChatGPT</span>
                            <span>Gemini</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- <div class="text-center mt-md"> -->
            <!-- <a href="#form" class="btn btn-outline-primary">schedule a developer interview</a> -->
            <!-- </div> -->
        </div>
    </section>

    <section class="bg-gray-light">
        <div class="container">
            <h2 class="text-center cont-padding">Hire Top TypeScript Developers in 3 Simple Steps</h2>
            <div class="grid gap-6 grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
                <div class="boxed bg-white">
                    <span class="bg-dark text-white h-11 w-11 flex items-center justify-center rounded-full mb-sm">1</span>
                    <h3 class="text-h4 small-heading" style="height: 34px;">Share Your Requirements</h3>
                    <p class="small-heading-two fontstyle" style="height: 95px;"> Connect with our expert TypeScript developers and discuss your business objectives, technical needs, and project expectations.</p>
                </div>
                <div class="boxed bg-white">
                    <span class="bg-dark text-white h-11 w-11 flex items-center justify-center rounded-full mb-sm">2</span>
                    <h3 class="text-h4 small-heading" style="height: 34px;">Choose the Right Talent</h3>
                    <p class="small-heading-two fontstyle" style="height: 95px;">Select from a pool of pre-vetted, highly skilled TypeScript developers based on your preferred expertise and engagement model.</p>
                </div>
                <div class="boxed bg-white">
                    <span class="bg-dark text-white h-11 w-11 flex items-center justify-center rounded-full mb-sm">3</span>
                    <h3 class="text-h4 small-heading" style="height: 34px;">Onboard Within 48 Hours</h3>
                    <p class="small-heading-two fontstyle" style="height: 95px;">Seamlessly integrate the best TypeScript developer into your team, working in your preferred time zone for smooth collaboration.</p>
                </div>
                <!-- <div class="col-span-full text-center mt-sm"> -->
                <!-- <a href="#form" class="btn btn-outline-primary">hire vue js developer</a> -->
                <!-- </div> -->
            </div>
        </div>
    </section>


    <main class="careers-page style-5 ">

        <section class="career-form ">


            <div class="container" >
                <div class="form-sec max-md:px-7 md:px-12 lg:px-lg py-lg " id="form">
                    <div class="text-center cont-padding" id="schedule-interview">
                        <h2 class="text-white">Schedule A Developer Interview and Get 15 Days Risk-Free Trial</h2>

                        <p class="text-h5 text-white">We ensure you're matched with the right talent resource based on your requirement.</p>
                    </div>
                    <form action="" class="inquiry-form-block form--square tech-form" id="contactfullForm" data-success="Thanks for your enquiry, we'll be in touch soon" data-error="Please fill all required fields" novalidate="novalidate">
                        <div class="grid gap-6 grid-cols-1 lg:grid-cols-3">
                            <div>
                                <input type="text" class="form-control formTextbox" id="focus-id" maxlength="80" name="contactName" size="20" placeholder="Your Name">
                            </div>
                            <div class="relative">
                                <input type="email" class="form-control validate-required formTextbox" placeholder="Work Email Address" id="email" maxlength="80" name="contactEmail" size="20">
                            </div>
                            <div>
                               <input type="tel" class="form-control formTextbox" placeholder="Phone Number" id="phone" maxlength="10" name="contactPhone" pattern="[0-9]{10}" size="20" nkeypress="return isNumberKey(event)">
                            </div>
                            <div class="col-span-full">
                                <textarea class="form-control formTextbox" rows="3" placeholder="Describe Your Requirements" name="contactMessage"></textarea>
                            </div>
                            <div class="col-span-full text-center text-white">
                                <button class="btn btn-primary formTextbox" name="contactBtn">inquire now</button>
                                <div class="md:flex text-h2 items-center justify-center mt-sm [&amp;_.mail-id]:border-white [&amp;_.mail-id]:border-b-2 [&amp;_.mail-id]:font-bold">
                                    <i class="fa-solid fa-envelope" style="color: #ffffff;margin-right:15px;margin-top: 13px;"></i>
                                    <a href="mailto:info@broadsytechnologies.com" class="mail-id" style="color: #ffffff;">sales@broadsytechnologies.com</a>
                                </div>
                                <p class="mt-sm" style="color:#fff">Your Success Is Guaranteed</p>
                                <p class="fontstyle" style="color:#fff;">We accelerate the release of digital products and guarantee your success</p>
                                <p class="fontstyle formb" style="color:#fff;">We Use <b>Slack</b>, <b>Jira</b> &amp; <b>GitHub</b> for Accurate Deployment and Effective Communication.</p>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
            <img src="assets/img/careers/map.png" alt="" class="map_img">
        </section>

    </main>
  
</body>
</html>	