@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<html lang="en">
<head>
    <title> Hire Laravel Developers </title>
</head>
<body style="background-color:#fff;">

    <section class="section s-hero s-tech-banner devops-mod s-hero__webflow ob is-visible" data-observe="" data-visible="">
        <!--style="background-color: #4a00e1;"-->
        <div class="s-hero__image" style="background-image: url(assets/img/Office.jpg);margin-top:0px;"></div>
        <div class="s-hero__gradient"></div>
        <div class="s-banner__wrap wrap" style="display:flex;">
            <div class="s-banner__txt-box" style="width: 61%;">
                <h1 style="margin-top:130px;">Hire Expert Laravel Developers</h1>
                <p class="fontstyle" style="color:#fff;">Partner with a Premier Laravel Partner to develop SEO-optimized, feature-rich, dynamic, secure, and scalable web</p>
            </div>
            <div style="margin-top: 160px;"><img src="icons/icons8-laravel-100.png" alt="" style="width: 240px;"></div>
            <!---->
        </div>
        <!----><span data-callback="RemoveBanerListeners" class="s-banner__stop-par ob is-visible" data-observe="" data-visible=""></span>
    </section>


    <section>
        <div class="container grid gap-6 md:gap-y-0 grid-cols-1 md:grid-cols-2">
            <div>
                <div class="side-sticky" style="top: 171px;">
                    <div class="md:cont-padding">
                        <h2>Laravel Web Application Development Services</h2>
                        <p class="fontstyle">
                            Unlock the full potential of Laravel with our dedicated Laravel developers, delivering personalized, scalable, secure, and high-performance web solutions. With expertise in Laravel's MVC architecture, we craft tailored web and mobile applications that align with your business goals. Over the years, we have successfully catered to diverse business needs worldwide. Bring your vision to life with future-ready Laravel applications!
                        </p>
                    </div>
                    <!-- <div class="flex flex-wrap gap-6 text-center resp-btn-two"> -->
                    <!-- <a href="#case-study" class="btn btn-primary">Case Study</a> -->
                    <!-- <a href="#tech-stack" class="btn btn-outline-primary">TECHNICAL STACK</a> -->
                    <!-- </div> -->
                </div>
            </div>
            <div class="grid grid-cols-1 gap-y-6 resp-btn-outer-two">
                <div class="boxed bg-gray-light">
                    <h3 class="text-h4"> Custom Laravel Web Development</h3>
                    <p class="fontstyle">Hire expert Laravel developers to create customized, cost-effective web solutions. Partner with a trusted Laravel outsourcing company in India to reduce development costs by up to 40% and start a risk-free 15-day trial today!</p>
                </div>
                <div class="boxed bg-gray-light">
                    <h3 class="text-h4"> Laravel Application Development</h3>
                    <p class="fontstyle">We specialize in extensive customization, delivering exceptional user interfaces and experiences across modern web apps, mobile apps, and eCommerce platforms.</p>
                </div>
                <div class="boxed bg-gray-light">
                    <h3 class="text-h4">Laravel Enterprise Application Development</h3>
                    <p class="fontstyle">Develop robust enterprise applications with seamless integrations, full source code authorization, and built-in capabilities for complex projects.</p>
                </div>
                <div class="boxed bg-gray-light">
                    <h3 class="text-h4">API & Module Development</h3>
                    <p class="fontstyle">Our senior Laravel developers build secure RESTful APIs with Laravel's Eloquent ORM, ensuring efficient response transformation, modular architecture, and seamless package integration.</p>
                </div>
                <div class="boxed bg-gray-light">
                    <h3 class="text-h4"> Laravel Extension Development</h3>
                    <p class="fontstyle">Enhance your Laravel applications with custom extensions to improve performance, scalability, and core functionality.</p>
                </div>
                <div class="boxed bg-gray-light">
                    <h3 class="text-h4"> Laravel Upgrade Services</h3>
                    <p class="fontstyle">Upgrade from Core PHP to Laravel or migrate to the latest Laravel version with minimal downtime, ensuring optimal performance and security.</p>
                </div>
                <div class="boxed bg-gray-light">
                    <h3 class="text-h4"> Laravel Migration Services</h3>
                    <p class="fontstyle">Seamlessly migrate your existing application to Laravel while maintaining data integrity, security, and application stability.</p>
                </div>
                <div class="boxed bg-gray-light">
                    <h3 class="text-h4"> Support and Maintenance Services</h3>
                    <p class="fontstyle">Leverage Laravel Pulse, a powerful health and performance monitoring tool, to identify and address potential issues before they impact your users.</p>
                </div>
                <div class="boxed bg-gray-light">
                    <h3 class="text-h4"> Laravel Consulting Services</h3>
                    <p class="fontstyle">From upgrades to secure deployments, our Laravel consulting experts provide end-to-end support, ensuring your application runs smoothly and efficiently.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="container">
        <div class="cont-padding text-center">
            <h2>Partner with Purpose, Deliver Maximum Value to Your Business</h2>
            <p class="fontstyle">As a trusted Laravel Partner, Broadsy provides end-to-end support, from design and development to deployment and marketing. Our expert Laravel developers focus on performance, scalability, and efficiency at every stage of your project to ensure long-term success.</p>
        </div>
        <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-6">
            <div class="bg-gray-light boxed">
                <div class="svg-icon mb-sm">
                    <i class="fa-solid fa-gear" style="color:#157efb;font-size: 40px;margin-top: 13px;margin-bottom: 21px;"></i>
                </div>
                <h3 class="text-h4 small-heading" style="height: 34px;">Laravel Development</h3>
                <p class="small-heading-two fontstyle" style="height: 160px;">Transform your ideas into reality or enhance your existing project with the expertise of our seasoned Laravel developers.</p>
            </div>
            <div class="bg-gray-light boxed">
                <div class="svg-icon mb-sm">
                    <i class="fa-solid fa-code" style="color:#157efb;font-size: 40px;margin-top: 13px;margin-bottom: 21px;"></i>
                </div>
                <h3 class="text-h4 small-heading" style="height: 34px;">Code Migrations</h3>
                <p class="small-heading-two fontstyle" style="height: 160px;">Seamlessly migrate your application to Laravel and unlock next-gen features with our Premium Laravel Partnership advantage.</p>
            </div>
            <div class="bg-gray-light boxed">
                <div class="svg-icon mb-sm">
                    <img src="icons/icons8-command-96.png" alt="">
                </div>
                <h3 class="text-h4 small-heading" style="height: 34px;">Code Refactoring</h3>
                <p class="small-heading-two fontstyle" style="height: 160px;">Improve code maintainability and boost performance with professional Laravel code optimization and restructuring.</p>
            </div>
            <div class="bg-gray-light boxed">
                <div class="svg-icon mb-sm">
                    <i class="fa-solid fa-solid fa-window-restore" style="color:#157efb;font-size: 40px;margin-top: 13px;margin-bottom: 21px;"></i>
                </div>
                <h3 class="text-h4 small-heading" style="height: 34px;">Development Standards</h3>
                <p class="small-heading-two fontstyle" style="height: 160px;">Our developers adhere to best Laravel practices, ensuring clean, maintainable, and high-quality code.</p>
            </div>
            <div class="bg-gray-light boxed">
                <div class="svg-icon mb-sm">
                    <i class="fa-solid fa-solid fa-wand-magic-sparkles" style="color:#157efb;font-size: 40px;margin-top: 13px;margin-bottom: 21px;"></i>
                </div>
                <h3 class="text-h4 small-heading" style="height: 34px;">Design Assistance</h3>
                <p class="small-heading-two fontstyle" style="height: 160px;">Refine your UI/UX with expert design enhancements, modernizing your Laravel application's interface for a seamless user experience.</p>
            </div>
            <div class="bg-gray-light boxed">
                <div class="svg-icon mb-sm">
                    <i class="fa-solid fa-solid fa-magnifying-glass" style="color:#157efb;font-size: 40px;margin-top: 13px;margin-bottom: 21px;"></i>
                </div>
                <h3 class="text-h4 small-heading" style="height: 34px;">Code Review</h3>
                <p class="small-heading-two fontstyle" style="height: 160px;">Our specialists conduct in-depth code audits, identifying performance bottlenecks and structural improvements for a more efficient Laravel application.</p>
            </div>

        </div>
        <!-- <div class="text-center mt-md"> -->
        <!-- <a href="#form" class="btn btn-outline-primary">Hire Dedicated Laravel Developers</a> -->
        <!-- </div> -->
    </section>

    <section class="tech-stack bg-gray-light" id="technical-stack">
        <div class="container">
            <div class="text-center cont-padding">
                <h2>Technical Expertise of Our Laravel Developers</h2>
            </div>
            <table>
                <tbody>
                    <tr>
                        <td>Technologies</td>
                        <td><span>PHP</span><span>Javascript</span><span>Typescript</span><span>DBMS</span></td>
                    </tr>
                    <tr>
                        <td>Frameworks</td>
                        <td><span>Laravel</span><span>Lumen</span><span>Symfony</span><span>CodeIgniter</span><span>YII</span></td>
                    </tr>
                    <tr>
                        <td>Databases</td>
                        <td><span>MySQL</span><span>PostgreSQL</span><span>MariaDB</span><span>SQLite</span><span>MongoDB</span></td>
                    </tr>
                    <tr>
                        <td>Packages &amp; Libraries</td>
                        <td><span>Composer</span> <span>GuzzleHTTP</span> <span>PHP Mailer</span> <span>Tinker</span> <span>Sail</span> <span>Carbon</span> <span>Monolog</span> <span>PHP Unit</span> <span>Faker</span> <span>Swift Mailer</span> <span>Cashier</span> <span>Socialite</span> <span>Telescope</span> <span>Horizon</span></td>
                    </tr>
                    <tr>
                        <td>Version Control</td>
                        <td><span>Git</span> <span>Github</span> <span>Gitlab</span> <span>Bitbucket</span> <span>AWS CodeCommit</span></td>
                    </tr>
                    <tr>
                        <td>Testing Tools</td>
                        <td><span>PHP Unit</span> <span>PEST</span> <span>Selenium</span> <span>Cypress</span></td>
                    </tr>
                    <tr>
                        <td>Startup Kit/ CMS</td>
                        <td><span>Filament</span> <span>Breez</span> <span>Nova</span> <span>Voyager</span> <span>Statamic</span> <span>October CMS</span> <span>Backpack</span></td>
                    </tr>
                    <tr>
                        <td>Cloud</td>
                        <td><span>AWS</span> <span>Azure</span> <span>GCP</span></td>
                    </tr>
                    <tr>
                        <td>API</td>
                        <td><span>REST</span> <span>SOAP</span> <span>GraphQL</span> <span>OpenAPI</span></td>
                    </tr>
                    <tr>
                        <td>Development Tools</td>
                        <td><span>PHP Storm</span> <span>VS Code</span> <span>Sublime</span> <span>Postman</span> <span>Laragon</span> <span>XAMPP</span> <span>Herd</span> <span>SQLyog</span> <span>MySQL Workbench</span> <span>Docker</span></td>
                    </tr>
                    <tr>
                        <td>UI/UX Support</td>
                        <td><span>Laravel Blade</span> <span>Twig</span> <span>Livewire</span> <span>Vue JS</span> <span>React JS</span> <span>Angular JS</span> <span>Tailwind CSS</span> <span>Alpine JS</span></td>
                    </tr>
                    <tr>
                        <td>Project Management Tools</td>
                        <td><span>Jira</span> <span>Asana</span> <span>Trello</span> <span>Basecamp</span></td>
                    </tr>
                    <tr>
                        <td>Deployment Tools</td>
                        <td><span>Github Actions</span> <span>Jenkins</span> <span>Circle CI</span> <span>Laravel Forge</span> <span>Envoyer</span> <span>Vapor</span> <span>Docker</span></td>
                    </tr>
                    <tr>
                        <td>Communication Tools</td>
                        <td><span>Slack</span> <span>MS Teams</span> <span>Zoom</span> <span>Google Meet and Chat</span></td>
                    </tr>
                    <tr>
                        <td>AI Tools</td>
                        <td><span>Github CoPilot</span> <span>Tabnine</span> <span>Chat GPT</span></td>
                    </tr>
                    <tr>
                        <td>Authentication &amp; Authorisations</td>
                        <td><span>Laravel Passport</span> <span>Sanctum</span> <span>JWT</span> <span>Spatie Permissions</span> <span>Gates</span> <span>Policies</span></td>
                    </tr>
                    <tr>
                        <td>Real-time data communication</td>
                        <td><span>Pusher</span> <span>Socket.io</span></td>
                    </tr>
                    <tr>
                        <td>Design Patterns</td>
                        <td><span>Simple MVC pattern</span> <span>Service pattern</span> <span>Repository pattern</span> <span>Factory pattern</span></td>
                    </tr>
                    <tr>
                        <td>Other Services/Integrations</td>
                        <td><span>Stripe</span> <span>Paypal</span> <span>Authorize.net</span> <span>Twilio</span> <span>Mailchimp</span> <span>Firebase</span> <span>Open AI</span> <span>AWS Services (S3, SES, SQS, SNS, Lambda)</span> <span>GCP Services</span></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </section>
    <section class="bg-gray-light">
        <div class="container">
            <div class="text-center cont-padding">
                <h2>Other Object-oriented Laravel Development Services</h2>
            </div>
            <div class="style-check">
                <ul class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 boxed bg-white fontstyle">
                    <li>Laravel Restful App Development</li>
                    <li>Laravel Data Migration Solutions</li>
                    <li>Laravel eCommerce App Development</li>
                    <li>Laravel CRM Development</li>
                    <li>Laravel Microservices</li>
                    <li>Module Development</li>
                    <li>Laravel Customization</li>
                    <li>Package Development</li>
                    <li>Portal Development</li>
                    <li>CMS Development</li>
                    <li>Integration &amp; Customization</li>
                    <li>Laravel Shopping Cart</li>
                    <li>AI-based Laravel Web App</li>
                    <li>Plugin Development</li>
                    <li>Laravel 3rd Party API Integrations</li>
                    <li>Laravel Cloud Integration</li>
                    <li>Laravel Development Solution for Startups</li>
                    <li>Laravel Social Networking Solution</li>
                    <li>Laravel Cloud Development</li>
                    <li>Lumen Development</li>
                    <li>OpenAI for Laravel</li>
                    <li>SaaS Development</li>
                    <li>Laravel Marketplace Development</li>
                    <li>Laravel Headless Development</li>
                </ul>
                <!-- <div class="text-center mt-md"> -->
                <!-- <a href="#form" class="btn btn-outline-primary">LET’S TALK ABOUT YOUR PROJECT</a> -->
                <!-- </div> -->
            </div>
        </div>
    </section>
    <main class="careers-page style-5 ">
        <section class="career-form ">
            <div class="container">
                <div class="form-sec max-md:px-7 md:px-12 lg:px-lg py-lg " id="form">
                    <div class="text-center cont-padding" id="schedule-interview">
                        <h2 class="text-white">Schedule A Developer Interview and Get 15 Days Risk-Free Trial</h2>
                        <p class="text-h5 text-white">We ensure you're matched with the right talent resource based on your requirement.</p>
                    </div>
                    <form action="" class="inquiry-form-block form--square tech-form" id="contactfullForm" data-success="Thanks for your enquiry, we'll be in touch soon" data-error="Please fill all required fields" novalidate="novalidate">
                        <div class="grid gap-6 grid-cols-1 lg:grid-cols-3">
                            <div>
                                <input type="text" class="form-control formTextbox" id="focus-id" maxlength="80" name="contactName" size="20" placeholder="Your Name">
                            </div>
                            <div class="relative">
                                <input type="email" class="form-control validate-required formTextbox" placeholder="Work Email Address" id="email" maxlength="80" name="contactEmail" size="20">
                            </div>
                            <div>
                               <input type="tel" class="form-control formTextbox" placeholder="Phone Number" id="phone" maxlength="10" name="contactPhone" pattern="[0-9]{10}" size="20" nkeypress="return isNumberKey(event)">
                            </div>
                            <div class="col-span-full">
                                <textarea class="form-control formTextbox" rows="3" placeholder="Describe Your Requirements" name="contactMessage"></textarea>
                            </div>
                            <div class="col-span-full text-center text-white">
                                <button class="btn btn-primary formTextbox" name="contactBtn">inquire now</button>
                                <div class="md:flex text-h2 items-center justify-center mt-sm [&amp;_.mail-id]:border-white [&amp;_.mail-id]:border-b-2 [&amp;_.mail-id]:font-bold">

                                    <i class="fa-solid fa-envelope" style="color: #ffffff;margin-right:15px;margin-top: 13px;"></i>
                                    <a href="mailto:info@broadsytechnologies.com" class="mail-id" style="color: #ffffff;">sales@broadsytechnologies.com</a>
                                </div>
                                <p class="mt-sm" style="color: #ffffff;">Your Success Is Guaranteed</p>
                                <p class="fontstyle" style="color: #ffffff;">We accelerate the release of digital products and guarantee your success</p>
                                <p class="fontstyle formb" style="color: #ffffff;">We Use <b>Slack</b>, <b>Jira</b> &amp; <b>GitHub</b> for Accurate Deployment and Effective Communication.</p>
                            </div>
                        </div>
                    </form>
                </div>

            </div>

            <img src="assets/img/careers/map.png" alt="" class="map_img">
        </section>

    </main>

    <style>
        body {
            color: #51555c;
            font-family: Lexend Deca, system-ui, -apple-system, Segoe UI, Roboto, Helvetica Neue, Noto Sans, Liberation Sans, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.75;
        }
    </style>
    <!-- ====== end footer ====== -->
</body>
</html>	