@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<html lang="en">
<head>
    <title> Hire .Net Developers </title>
</head>

<body style="background-color:#fff;">

    <section class="section s-hero s-tech-banner devops-mod s-hero__webflow ob is-visible" data-observe="" data-visible="">
        <!--style="background-color: #4a00e1;"-->
        <div class="s-hero__image" style="background-image: url(assets/img/Office.jpg);margin-top:0px;"></div>
        <div class="s-hero__gradient"></div>
        <div class="s-banner__wrap wrap" style="display:flex;">
            <div class="s-banner__txt-box" style="width: 61%;">
                <h1 style="margin-top:130px;">Hire .NET Developers for Scalable and Secure Solutions</h1>
                <p class="fontstyle" style="color:#fff;">Build high-performance web and mobile applications with our expert .NET developers. Skilled in VB.NET, .NET Core, C#, C++, TypeScript, and ASP.NET, our team delivers custom solutions with proficiency in .NET MVC, SQL, Azure, Microservices, and CI/CD integration. Leverage the power of .NET and AI for innovation-driven development.</p>
            </div>
            <div style="margin-top: 160px;"><img src="icons/output-onlinepngtools.png" alt="" style="width: 240px;"></div>
            <!---->
        </div>
        <!----><span data-callback="RemoveBanerListeners" class="s-banner__stop-par ob is-visible" data-observe="" data-visible=""></span>
    </section>

    <section>
        <div class="container grid gap-6 md:gap-y-0 grid-cols-1 md:grid-cols-2">
            <div>
                <div class="side-sticky" style="top: 171px;">
                    <div class="md:cont-padding">
                        <h2>Empower Your Business with Expert .NET Development Services</h2>
                        <p class="fontstyle">Unlock the full potential of your applications with our top-tier .NET development services. Our experienced .NET developers craft secure, scalable, and high-performance web, mobile, and desktop solutions tailored to your unique business needs.</p>
                    </div>
                    <!-- <div class="flex flex-wrap gap-6 text-center resp-btn-two"> -->
                    <!-- <a href="#case-study" class="btn btn-primary">Case Study</a> -->
                    <!-- <a href="#tech-stack" class="btn btn-outline-primary">TECHNICAL STACK</a> -->
                    <!-- </div> -->
                </div>
            </div>
            <div class="grid grid-cols-1 gap-y-6 resp-btn-outer-two">
                <div class="boxed bg-gray-light">
                    <h3 class="text-h4">.NET Web Application Development</h3>
                    <p class="fontstyle">Build secure, scalable, and feature-rich web applications that drive business growth and enhance user experiences.</p>
                </div>
                <div class="boxed bg-gray-light">
                    <h3 class="text-h4">Custom .NET Development</h3>
                    <p class="fontstyle">Develop custom .NET solutions, SaaS applications, and modern web & mobile apps to upgrade legacy systems with the latest .NET Core standards.</p>
                </div>
                <div class="boxed bg-gray-light">
                    <h3 class="text-h4">.NET Migration Services</h3>
                    <p class="fontstyle">Seamlessly migrate from outdated systems to modern .NET 4.5 MVC architecture while preserving your data integrity.</p>
                </div>
                <div class="boxed bg-gray-light">
                    <h3 class="text-h4">.NET Integration Services</h3>
                    <p class="fontstyle">Effortlessly integrate your applications with Microsoft platforms like SharePoint and Dynamics CRM for enhanced efficiency.</p>
                </div>
                <div class="boxed bg-gray-light">
                    <h3 class="text-h4">.NET Mobile Application Development</h3>
                    <p class="fontstyle">Accelerate your mobile app development with hybrid solutions designed to optimize time and performance.</p>
                </div>
                <div class="boxed bg-gray-light">
                    <h3 class="text-h4">Enterprise .NET Development</h3>
                    <p class="fontstyle">Build robust, scalable, and highly secure enterprise-grade .NET applications that meet your evolving business demands.</p>
                </div>
                <div class="boxed bg-gray-light">
                    <h3 class="text-h4">.NET Maintenance and Support</h3>
                    <p class="fontstyle">Ensure peak performance with our comprehensive support services, including automated backups, security enhancements, software updates, and glitch-free operations.</p>
                </div>
                <div class="boxed bg-gray-light">
                    <h3 class="text-h4">IoT and Embedded Systems Development</h3>
                    <p class="fontstyle">Leverage our expertise in IoT, location-based apps, and smart sensors to create cutting-edge embedded systems for remote monitoring.</p>
                </div>
                <div class="boxed bg-gray-light">
                    <h3 class="text-h4">.NET Microservices and Docker Deployment</h3>
                    <p class="fontstyle">Streamline your microservices architecture using Azure services and Docker containerization, ensuring smooth operations across Windows and Linux environments.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-gray-light">
        <div class="container">
            <div class="cont-padding">
                <h2>Outsource .NET Developers to Unlock the Potential of .NET 8</h2>
                <p class="fontstyle">Upgrade your .NET applications with our expert developers, specializing in modernizing and migrating legacy systems to the latest .NET 8 framework. Hire dedicated .NET professionals to ensure a seamless, cost-effective transition from older .NET Framework-based Windows apps to the newest stable release. Our .NET consulting services include:</p>
            </div>
            <div class="grid lg:grid-cols-2 gap-6 items-center style-check">
                <div>
                    <ul class="fontstyle">
                        <li>ASP to ASP.NET Migration</li>
                        <li>VB to .NET Migration</li>
                        <li>Legacy System to .NET Migration</li>
                        <li>PHP to ASP.NET Migration</li>
                        <li>Ongoing Microsoft .NET Support & Maintenance</li>
                    </ul>
                    <!-- <a href="#form" class="btn btn-outline-primary mt-md">Talk To our Expert</a> -->
                </div>
                <div class="text-center max-lg:-order-1">
                    <img src="~/icons/net-upgrade-vector.svg"  alt="Outsource NET Developers To Leverage the Power Of .NET 8" title="Outsource NET Developers To Leverage the Power Of .NET 8" class="w-full mx-auto" loading="lazy" width="540" height="535">
                </div>
            </div>
        </div>
    </section>

    <section class="bg-gray-light tech-stack" id="tech-stack">
        <div class="container">
            <div class="text-center cont-padding">
                <h2>Tech Stack our Dot Net Core Developers Excel in</h2>
            </div>
            <table>
                <tbody>
                    <tr>
                        <td>Framework And Platforms</td>
                        <td>
                            <span>.NET Framework</span> <span>.NET Core</span> <span>ADO.NET</span> <span>Entity Framework</span>
                            <span>Microsoft Silverlight</span> <span>WCF</span> <span>ASP.NET MVC</span>
                            <span>ASP.NET MVC Core</span> <span>ASP.NET Web Forms</span> <span>UWP</span>
                            <span>WPF</span> <span>Windows Forms</span> <span>Xamarin</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Languages</td>
                        <td>
                            <span>C#</span> <span>PowerShell</span> <span>VB.NET</span> <span>SQL</span> <span>Transact-SQL</span>
                            <span>JavaScript</span> <span>CSS</span> <span>HTML</span> <span>XML</span> <span>Typescript</span>
                        </td>
                    </tr>
                    <tr>
                        <td>APIs and Integrations</td>
                        <td>
                            <span>ASP.NET Web API</span> <span>ASP.NET Core web API</span> <span>REST API</span>
                            <span>OData API</span> <span>GraphQL</span> <span>gRPC API</span>
                        </td>
                    </tr>
                    <tr>
                        <td>IDEs</td>
                        <td>
                            <span>Visual Studio</span> <span>Visual Studio Code</span> <span>Rider</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Front-end</td>
                        <td>
                            <span>Angular</span> <span>React</span> <span>HTML5</span> <span>CSS3</span> <span>Bootstrap</span>
                            <span>CoffeeScript</span> <span>JQuery</span> <span>JavaScript</span> <span>TypeScript</span> <span>Knockout</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Cloud Platforms</td>
                        <td>
                            <span>Amazon Web Services</span> <span>Microsoft Azure</span> <span>Google Cloud Platform</span>
                            <span>IBM Cloud</span> <span>Alibaba Cloud</span> <span>VMware</span>
                            <span>Oracle Cloud</span> <span>Digital Ocean</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Database</td>
                        <td>
                            <span>MS SQL</span> <span>Oracle</span> <span>Postgres</span> <span>My SQL Server</span> <span>NoSQL</span>
                        </td>
                    </tr>
                    <tr>
                        <td>ORM</td>
                        <td>
                            <span>Entity Framework</span> <span>Entity Framework Core</span> <span>Dapper</span>
                            <span>EntityLite</span> <span>NHibernate</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Business Intelligence</td>
                        <td>
                            <span>Biztalk Server</span> <span>Microsoft SQL Server</span> <span>Power BI</span>
                            <span>Stream Analytics</span> <span>Azure Analytics Services</span> <span>Devexpress Dashboards</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Testing and Monitoring</td>
                        <td>
                            <span>Selenium</span> <span>Apache jMeter</span> <span>HP Loadrunner</span>
                            <span>Azure Application Insights</span>
                        </td>
                    </tr>
                    <tr>
                        <td>CMS</td>
                        <td>
                            <span>Kentico</span> <span>Ektron</span> <span>Orchard</span> <span>Sitecore</span> <span>DotNetNuke</span>
                            <span>Umbraco</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Third-Party Controls</td>
                        <td>
                            <span>Infragistics</span> <span>Telerik</span> <span>ComponentArt</span>
                            <span>Obout</span> <span>DevExpress</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Payment Gateways</td>
                        <td>
                            <span>PayPal</span> <span>NTPNow</span> <span>Google Checkout</span> <span>Sage Pay (Protx)</span>
                            <span>Apple Pay</span> <span>Klarna</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Reporting &amp; Data Mining</td>
                        <td>
                            <span>SSRS</span> <span>Analysis Services</span> <span>Reporting Services</span>
                            <span>Integration Services</span> <span>MS Access Reports</span> <span>Active Reports</span>
                            <span>Crystal Reports</span> <span>Dundas Charts</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Methodologies</td>
                        <td>
                            <span>Agile</span> <span>Test Driven Development (TDD)</span> <span>Continuous Integration</span>
                            <span>Waterfall</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Deployment Process</td>
                        <td>
                            <span>CI/CD (Jenkins</span> <span>Azure CI/CD</span> <span>AWS CI/CD)</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Version Control</td>
                        <td>
                            <span>Git</span> <span>GitHub</span> <span>GitLab</span> <span>Bitbucket</span> <span>SVN</span>
                            <span>Team Foundation Server</span>
                        </td>
                    </tr>
                    <tr>
                        <td>AI Tools</td>
                        <td>
                            <span>GitHub Co-Pilot</span> <span>ChatGPT</span> <span>Google Gemini</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Deployment &amp; Server Management</td>
                        <td>
                            <span>Azure</span> <span>Heroku</span> <span>Docker</span> <span>Docker Swarm</span>
                            <span>Kubernetes</span> <span>PM2</span> <span>Caddy</span> <span>Nginx</span>
                            <span>Google Cloud Run</span> <span>Amazon AWS / Elastic Beanstalk</span> <span>DigitalOcean</span>
                            <span>API Gateway</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- <div class="text-center mt-md"> -->
            <!-- <a href="#form" class="btn btn-outline-primary">Schedule a Developer INTERVIEW</a> -->
            <!-- </div> -->
        </div>
    </section>

    <section class="container">
        <div class="cont-padding">
            <h2>Why Hire .NET Developers from Broadsy?</h2>
            <p class="fontstyle">At Broadsy, we provide highly skilled .NET developers who offer expert technical support and seamless project execution. Whether you need to scale your team or build a unique solution, our developers ensure high-quality, high-performance results - on time and within budget.</p>
        </div>
        <div class="grid md:grid-cols-2 gap-6">
            <div class="text-center">
                <img src="~/icons/side-img-1.jpg"  alt="Why Hire .Net Developers from Bacancy?" title="Why Hire .Net Developers from Bacancy?" class="w-full h-full object-cover" loading="lazy" width="600" height="700">
            </div>
            <div class="style-check">
                <p class="text-primary font-bold">Benefits of Hiring .NET Developers from Us:</p>
                <ul class="fontstyle">
                    <li> Agile Development Approach for flexibility and efficiency</li>
                    <li> 15-Day Risk-Free Trial to ensure the right fit</li>
                    <li>Experienced & Skilled .NET Professionals</li>
                    <li>Quick Resource Deployment for faster project kick-off</li>
                    <li>Diverse Tech Expertise with a vast technology stack</li>
                    <li> Clear &amp; Effective Communication</li>
                    <li>100% Source Code Ownership for complete control</li>
                    <li>Strict NDA Compliance to protect your business idea</li>
                    <li>Time Zone Alignment for seamless collaboration</li>
                    <li>Client Satisfaction as Our Top Priority</li>
                </ul>
                <!-- <a href="#form" class="btn btn-outline-primary mt-md">Schedule a developer interview</a> -->
            </div>
        </div>
    </section>


    <main class="careers-page style-5 ">

        <section class="career-form">


            <div class="container" >
                <div class="form-sec max-md:px-7 md:px-12 lg:px-lg py-lg " id="form">
                    <div class="text-center cont-padding" id="schedule-interview">
                        <h2 class="text-white">Schedule A Developer Interview and Get 15 Days Risk-Free Trial</h2>

                        <p class="text-h5 text-white">We ensure you're matched with the right talent resource based on your requirement.</p>
                    </div>
                    <form action="" class="inquiry-form-block form--square tech-form" id="contactfullForm" data-success="Thanks for your enquiry, we'll be in touch soon" data-error="Please fill all required fields" novalidate="novalidate">
                        <div class="grid gap-6 grid-cols-1 lg:grid-cols-3">
                            <div>
                                <input type="text" class="form-control formTextbox" id="focus-id" maxlength="80" name="contactName" size="20" placeholder="Your Name">
                            </div>
                            <div class="relative">
                                <input type="email" class="form-control validate-required formTextbox" placeholder="Work Email Address" id="email" maxlength="80" name="contactEmail" size="20">
                            </div>
                            <div>
                               <input type="tel" class="form-control formTextbox" placeholder="Phone Number" id="phone" maxlength="10" name="contactPhone" pattern="[0-9]{10}" size="20" nkeypress="return isNumberKey(event)">
                            </div>
                            <div class="col-span-full">
                                <textarea class="form-control formTextbox" rows="3" placeholder="Describe Your Requirements" name="contactMessage"></textarea>
                            </div>
                            <div class="col-span-full text-center text-white">
                                <button class="btn btn-primary formTextbox" name="contactBtn">inquire now</button>
                                <div class="md:flex text-h2 items-center justify-center mt-sm [&amp;_.mail-id]:border-white [&amp;_.mail-id]:border-b-2 [&amp;_.mail-id]:font-bold">
                                    <i class="fa-solid fa-envelope" style="color: #ffffff;margin-right:15px;margin-top: 13px;"></i>
                                    <a href="mailto:info@broadsytechnologies.com" class="mail-id" style="color: #ffffff;">sales@broadsytechnologies.com</a>
                                </div>
                                <p class="mt-sm" style="color: #ffffff;">Your Success Is Guaranteed</p>
                                <p class="fontstyle" style="color: #ffffff;">We accelerate the release of digital products and guarantee your success</p>
                                <p class="fontstyle formb" style="color: #ffffff;">We Use <b>Slack</b>, <b>Jira</b> &amp; <b>GitHub</b> for Accurate Deployment and Effective Communication.</p>
                            </div>
                        </div>
                    </form>
                </div>

            </div>

            <img src="assets/img/careers/map.png" alt="" class="map_img">
        </section>

    </main>
   
    <style>
        body {
            color: #51555c;
            font-family: Lexend Deca, system-ui, -apple-system, Segoe UI, Roboto, Helvetica Neue, Noto Sans, Liberation Sans, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.75;
        }
    </style>
    <!-- ====== end footer ====== -->

</body>
</html>	