@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <title> Social Media Application - Mobile Design and Development  | Portfolio  </title>
    <link href="~/assets/css/TravelwebPage.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/assets/js/TravelWebSwiper.js"></script>
</head>
<body>
    <section class="section bg-black case-about-section">
        <div class="py-5 container">
            <div class="mb-0 mt-5">
                <div class="g-4 row row-cols-lg-2 row-cols-md-1 row-cols-1">
                    <div class="col-lg-3">
                        <div class="pb-4 case-study-title-border">
                            <h2 class="mb-4 text-white title-border-sm">About</h2>
                        </div>
                        <div>
                            <h3 class="fw-medium font-size-18 text-white">Category</h3>
                            <p class="font-size-16 mb-0 category-single-post"><span class="category text-white-75"> <i class="coma-sep">  </i></span><span class="category text-white-75">Social Media Application - Mobile Design and Development  <i class="coma-sep">  </i></span></p>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="ms-lg-5">
                            <div class="text-white-75 lead mb-0 mt-4">
                                <p style=" color: hsla(0, 0%, 100%, .75);">
                                    A tech-savvy entrepreneur approached Broadsy Technologies in early 2024 with an ambitious vision: to develop a niche social media platform that empowers content creators and micro-influencers to monetize their content and build tightly-knit communities. The client sought an intuitive, scalable mobile app with features on par with leading platforms like Instagram, but with a strong focus on creator monetization and privacy
                                </p>
                            </div>
                            <div class="d-flex align-items-center"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- challenges-->
    <section class="section challanges-section">
        <div class="py-5 container">
            <div class="dark-box-1 p-4 p-lg-5 mt-5">
                <div class="g-4 row">
                    <div class="col-lg-3">
                        <div class="mb-0 case-study-title-border sticky-section">
                            <h2 class="mb-4 title-border-sm">Challenges<span class="text-primary">Faced</span></h2>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="ps-0 ps-lg-5">
                            <div class="col-12">
                                <table class="table table-borderless">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col"><h3><b>Challenges</b></h3></th>
                                            <th scope="col"><h3><b>Description</b></h3></th>
                                            <th scope="col"><h3><b>Solutions</b></h3></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-second">
                                                <i class="zmdi zmdi-alert-circle zmdi-hc-fw font-size-24"></i> Video Upload Optimization
                                            </td>
                                            <td class="text-second">
                                                <i class="zmdi zmdi-check-circle zmdi-hc-fw font-size-24"></i> Ensuring smooth playback and upload speeds
                                            </td>
                                            <td>
                                                <i class="zmdi zmdi-check-circle zmdi-hc-fw font-size-24"></i> Integrated adaptive streaming with HLS and AWS CloudFront CDN
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-second">
                                                <i class="zmdi zmdi-alert-circle zmdi-hc-fw font-size-24"></i> Payment Compliance
                                            </td>
                                            <td class="text-second">
                                                <i class="zmdi zmdi-check-circle zmdi-hc-fw font-size-24"></i> Handling cross-border transactions securely
                                            </td>
                                            <td>
                                                <i class="zmdi zmdi-check-circle zmdi-hc-fw font-size-24"></i> Stripe integration with proper KYC/AML flows for creators
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-second">
                                                <i class="zmdi zmdi-alert-circle zmdi-hc-fw font-size-24"></i> User Retention
                                            </td>
                                            <td class="text-second">
                                                <i class="zmdi zmdi-check-circle zmdi-hc-fw font-size-24"></i> Keeping users engaged post-signup
                                            </td>
                                            <td>
                                                <i class="zmdi zmdi-check-circle zmdi-hc-fw font-size-24"></i> Gamified onboarding, streak rewards, and push engagement campaigns
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-5 pb-4">
                <div class="swiper swiper-initialized swiper-horizontal solution-slider swiper-backface-hidden">
                    <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px); transition-delay: 0ms; ">
                        <div class="swiper-slide swiper-slide-active" style="margin-right: 50px; max-height: 594px;">
                            <div data-gatsby-image-wrapper="" class="gatsby-image-wrapper gatsby-image-wrapper-constrained" style="width: 34%; margin-left: 70px">
                                <div style="max-width:3200px;display:block">
                                    <div aria-hidden="true" data-placeholder-image="" style="opacity: 0; transition: opacity 500ms linear; object-fit: contain;"></div>
                                    <picture>
                                        <img width="3200" height="2000" data-main-image="" style="object-fit: contain; opacity: 1;" sizes="(min-width: 3200px) 3200px, 100vw" decoding="async" loading="lazy" src="~/assets/img/SocialAppLogin.png"
                                             alt="solution">
                                    </picture>
                                </div>
                            </div>
                            <div data-gatsby-image-wrapper="" class="gatsby-image-wrapper gatsby-image-wrapper-constrained" style="width: 34%; margin-left: 135px">
                                <div style="max-width:3200px;display:block">
                                    <div aria-hidden="true" data-placeholder-image="" style="opacity: 0; transition: opacity 500ms linear; object-fit: contain;"></div>
                                    <picture>
                                        <img width="3200" height="2000" data-main-image="" style="object-fit: contain; opacity: 1;" sizes="(min-width: 3200px) 3200px, 100vw" decoding="async" loading="lazy" src="~/assets/img/SocialAppSetupProfile1.png"
                                             alt="solution">
                                    </picture>
                                </div>

                            </div>
                        </div>
                        <div class="swiper-slide swiper-slide-active" style="margin-right: 50px; max-height: 594px;">
                            <div data-gatsby-image-wrapper="" class="gatsby-image-wrapper gatsby-image-wrapper-constrained" style="width:34%;margin-left:70px;">
                                <div style="max-width:3200px;display:block">
                                    <div aria-hidden="true" data-placeholder-image="" style="opacity: 0; transition: opacity 500ms linear; object-fit: contain;"></div>
                                    <picture>
                                        <img width="3200" height="2000" data-main-image="" style="object-fit: contain; opacity: 1;" sizes="(min-width: 3200px) 3200px, 100vw" decoding="async" loading="lazy" src="~/assets/img/SocialAppSetupProfile2.png"
                                             alt="solution">
                                    </picture>
                                </div>
                            </div>
                            <div data-gatsby-image-wrapper="" class="gatsby-image-wrapper gatsby-image-wrapper-constrained" style="width: 34%; margin-left: 135px">
                                <div style="max-width:3200px;display:block">
                                    <div aria-hidden="true" data-placeholder-image="" style="opacity: 0; transition: opacity 500ms linear; object-fit: contain;"></div>
                                    <picture>
                                        <img width="3200" height="2000" data-main-image="" style="object-fit: contain; opacity: 1;" sizes="(min-width: 3200px) 3200px, 100vw" decoding="async" loading="lazy" src="~/assets/img/SocialAppSetupProfile3.png"
                                             alt="solution">
                                    </picture>
                                </div>

                            </div>
                        </div>
                        <div class="swiper-slide swiper-slide-active" style="margin-right: 50px; max-height: 594px;">
                            <div data-gatsby-image-wrapper="" class="gatsby-image-wrapper gatsby-image-wrapper-constrained" style="width: 34%; margin-left: 70px;">
                                <div style="max-width:3200px;display:block">
                                    <div aria-hidden="true" data-placeholder-image="" style="opacity: 0; transition: opacity 500ms linear; object-fit: contain;"></div>
                                    <picture>
                                        <img width="3200" height="2000" data-main-image="" style="object-fit: contain; opacity: 1;" sizes="(min-width: 3200px) 3200px, 100vw" decoding="async" loading="lazy" src="~/assets/img/SocialAppRegistrationSuccess.png"
                                             alt="solution">
                                    </picture>
                                </div>
                            </div>
                            <div data-gatsby-image-wrapper="" class="gatsby-image-wrapper gatsby-image-wrapper-constrained" style="width: 34%; margin-left: 135px">
                                <div style="max-width:3200px;display:block">
                                    <div aria-hidden="true" data-placeholder-image="" style="opacity: 0; transition: opacity 500ms linear; object-fit: contain;"></div>
                                    <picture>
                                        <img width="3200" height="2000" data-main-image="" style="object-fit: contain; opacity: 1;" sizes="(min-width: 3200px) 3200px, 100vw" decoding="async" loading="lazy" src="~/assets/img/SocialAppMyAccount.png"
                                             alt="solution">
                                    </picture>
                                </div>

                            </div>
                        </div>
                        <div class="swiper-slide swiper-slide-active" style="margin-right: 50px; max-height: 594px;">
                            <div data-gatsby-image-wrapper="" class="gatsby-image-wrapper gatsby-image-wrapper-constrained" style="width: 34%; margin-left: 70px;">
                                <div style="max-width:3200px;display:block">
                                    <div aria-hidden="true" data-placeholder-image="" style="opacity: 0; transition: opacity 500ms linear; object-fit: contain;"></div>
                                    <picture>
                                        <img width="3200" height="2000" data-main-image="" style="object-fit: contain; opacity: 1;" sizes="(min-width: 3200px) 3200px, 100vw" decoding="async" loading="lazy" src="~/assets/img/SocialAppChatList.png"
                                             alt="solution">
                                    </picture>
                                </div>
                            </div>
                            <div data-gatsby-image-wrapper="" class="gatsby-image-wrapper gatsby-image-wrapper-constrained" style="width: 34%; margin-left: 135px">
                                <div style="max-width:3200px;display:block">
                                    <div aria-hidden="true" data-placeholder-image="" style="opacity: 0; transition: opacity 500ms linear; object-fit: contain;"></div>
                                    <picture>
                                        <img width="3200" height="2000" data-main-image="" style="object-fit: contain; opacity: 1;" sizes="(min-width: 3200px) 3200px, 100vw" decoding="async" loading="lazy" src="~/assets/img/SocialAppChat.png"
                                             alt="solution">
                                    </picture>
                                </div>

                            </div>
                        </div>
                        <div class="swiper-slide swiper-slide-active" style="margin-right: 50px; max-height: 594px;">
                            <div data-gatsby-image-wrapper="" class="gatsby-image-wrapper gatsby-image-wrapper-constrained" style="width: 34%; margin-left: 70px;">
                                <div style="max-width:3200px;display:block">
                                    <div aria-hidden="true" data-placeholder-image="" style="opacity: 0; transition: opacity 500ms linear; object-fit: contain;"></div>
                                    <picture>
                                        <img width="3200" height="2000" data-main-image="" style="object-fit: contain; opacity: 1;" sizes="(min-width: 3200px) 3200px, 100vw" decoding="async" loading="lazy" src="~/assets/img/SocialAppSearchFilter.png"
                                             alt="solution">
                                    </picture>
                                </div>
                            </div>
                            <div data-gatsby-image-wrapper="" class="gatsby-image-wrapper gatsby-image-wrapper-constrained" style="width: 34%; margin-left: 135px">
                                <div style="max-width:3200px;display:block">
                                    <div aria-hidden="true" data-placeholder-image="" style="opacity: 0; transition: opacity 500ms linear; object-fit: contain;"></div>
                                    <picture>
                                        <img width="3200" height="2000" data-main-image="" style="object-fit: contain; opacity: 1;" sizes="(min-width: 3200px) 3200px, 100vw" decoding="async" loading="lazy" src="~/assets/img/SocialAppContentLib.png"
                                             alt="solution">
                                    </picture>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-prev swiper-button-disabled"></div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal">
                        <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
                        <span class="swiper-pagination-bullet"></span>
                        <span class="swiper-pagination-bullet"></span>
                        <span class="swiper-pagination-bullet"></span>
                        <span class="swiper-pagination-bullet"></span>
                    </div>
                </div>
            </div>
            <div class="mt-5">
                <div class="dark-box-1 p-4 p-lg-5">
                    <div class="g-4 row">
                        <div class="col-lg-3">
                            <div class="mb-0 case-study-title-border sticky-section">
                                <h2 class="mb-4 title-border-sm">
                                    Project <span class="text-primary">Goals</span>
                                </h2>
                            </div>
                        </div>

                        <div class="col-lg-9">
                            <ul class="ps-0 ps-lg-5">
                                <li class="mb-3 lead d-flex">
                                    <span class="me-2 mt-1 text-second"><i class="zmdi zmdi-check-circle zmdi-hc-fw font-size-24"></i></span>
                                    <div class="mb-0">
                                        <p>
                                            Create a cross-platform mobile app (iOS & Android) for a new social media platform.
                                        </p>
                                    </div>
                                </li>
                                <li class="mb-3 lead d-flex">
                                    <span class="me-2 mt-1 text-second"><i class="zmdi zmdi-check-circle zmdi-hc-fw font-size-24"></i></span>
                                    <div class="mb-0">
                                        <p>
                                            Enable content creation & sharing through short videos, images, and text.
                                        </p>
                                    </div>
                                </li>
                                <li class="mb-3 lead d-flex">
                                    <span class="me-2 mt-1 text-second"><i class="zmdi zmdi-check-circle zmdi-hc-fw font-size-24"></i></span>
                                    <div class="mb-0">
                                        <p>
                                            Incorporate monetization features such as tipping, subscriptions, and paywalled content.
                                        </p>
                                    </div>
                                </li>
                                <li class="mb-3 lead d-flex">
                                    <span class="me-2 mt-1 text-second"><i class="zmdi zmdi-check-circle zmdi-hc-fw font-size-24"></i></span>
                                    <div class="mb-0">
                                        <p>
                                            Ensure strong data privacy controls and user safety.
                                        </p>
                                    </div>
                                </li>
                                <li class="mb-3 lead d-flex">
                                    <span class="me-2 mt-1 text-second"><i class="zmdi zmdi-check-circle zmdi-hc-fw font-size-24"></i></span>
                                    <div class="mb-0">
                                        <p>
                                            Build a scalable backend to support rapid user growth.
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-5">
                <div class="dark-box-1 p-4 p-lg-5">
                    <div class="g-4 row">
                        <div class="col-lg-3">
                            <div class="mb-0 case-study-title-border sticky-section">
                                <h2 class="mb-4 title-border-sm">
                                    Discovery <span class="text-primary">& Planning</span>Phase
                                </h2>
                            </div>
                        </div>

                        <div class="col-lg-9">
                            <ul class="ps-0 ps-lg-5">
                                <li class="mb-3 lead d-flex">
                                    <span class="me-2 mt-1 text-second"><i class="zmdi zmdi-check-circle zmdi-hc-fw font-size-24"></i></span>
                                    <div class="mb-0">
                                        <p><b>Key Activities: </b></p>
                                        <p>
                                            Conducted competitor analysis and market research.
                                        </p>
                                        <p>
                                            Identified user personas (creators, fans, influencers).
                                        </p>
                                        <p>
                                            Defined Minimum Viable Product (MVP) features.
                                        </p>
                                        <p>
                                            Chose Flutter for cross-platform development to reduce cost and time-to-market.
                                        </p>
                                        <p>
                                            Designed initial wireframes and a UI/UX prototype using Figma.
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <div class="mt-5">
                <div class="dark-box-1 p-4 p-lg-5">
                    <div class="g-4 row">
                        <div class="col-lg-3">
                            <div class="mb-0 case-study-title-border sticky-section">
                                <h2 class="mb-4 title-border-sm">
                                    Core <span class="text-primary">features</span>Developed
                                </h2>
                            </div>
                        </div>

                        <div class="col-lg-9">
                            <ul class="ps-0 ps-lg-5">
                                <li class="mb-3 lead d-flex">
                                    <span class="me-2 mt-1 text-second"><i class="zmdi zmdi-check-circle zmdi-hc-fw font-size-24"></i></span>
                                    <div class="mb-0">
                                        <p><b>User Onboarding & Profiles: </b></p>
                                        <p>
                                            Sign up/in via email, social logins (Google, Apple).
                                        </p>
                                        <p>
                                            Bio, profile picture, follower/following count.
                                        </p>
                                        <p>
                                            Content tabs (Posts, Videos, Premium).
                                        </p>
                                    </div>
                                </li>
                                <li class="mb-3 lead d-flex">
                                    <span class="me-2 mt-1 text-second"><i class="zmdi zmdi-check-circle zmdi-hc-fw font-size-24"></i></span>
                                    <div class="mb-0">
                                        <p><b>Content Feed:</b></p>
                                        <p>
                                            Infinite scroll, algorithmic and chronological feeds.
                                        </p>
                                        <p>
                                            Like, comment, save, and share functionalities.
                                        </p>
                                    </div>
                                </li>
                                <li class="mb-3 lead d-flex">
                                    <span class="me-2 mt-1 text-second"><i class="zmdi zmdi-check-circle zmdi-hc-fw font-size-24"></i></span>
                                    <div class="mb-0">
                                        <p><b>Post Creation & Editing:</b></p>
                                        <p>
                                            Photo and short video uploads.
                                        </p>
                                        <p>
                                            Filters, trimming, text overlay, and stickers.
                                        </p>
                                        <p>
                                            Draft saving and scheduled publishing.
                                        </p>
                                    </div>
                                </li>
                                <li class="mb-3 lead d-flex">
                                    <span class="me-2 mt-1 text-second"><i class="zmdi zmdi-check-circle zmdi-hc-fw font-size-24"></i></span>
                                    <div class="mb-0">
                                        <p><b>Monetization Tools:</b></p>
                                        <p>
                                            Tipping via Stripe integration.
                                        </p>
                                        <p>
                                            Monthly subscriptions with exclusive content access.
                                        </p>
                                        <p>
                                            Pay-per-view content (lock/unlock model).
                                        </p>
                                    </div>
                                </li>
                                <li class="mb-3 lead d-flex">
                                    <span class="me-2 mt-1 text-second"><i class="zmdi zmdi-check-circle zmdi-hc-fw font-size-24"></i></span>
                                    <div class="mb-0">
                                        <p><b>Real-time Chat & Notifications:</b></p>
                                        <p>
                                            1:1 chat with end-to-end encryption.
                                        </p>
                                        <p>
                                            Push notifications for likes, comments, subscriptions.
                                        </p>
                                    </div>
                                </li>
                                <li class="mb-3 lead d-flex">
                                    <span class="me-2 mt-1 text-second"><i class="zmdi zmdi-check-circle zmdi-hc-fw font-size-24"></i></span>
                                    <div class="mb-0">
                                        <p><b> Privacy & Safety:</b></p>
                                        <p>
                                            Report/block users.
                                        </p>
                                        <p>
                                            Custom visibility settings for each post.
                                        </p>
                                        <p>
                                            GDPR-compliant data handling.
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </section>

    <!--TechStack-->
    <section class="section bg-light">
        <div class="py-5 container">
            <div class="mb-5 pb-1">
                <h2 class="mb-0"><span class="text-primary">Tech stacks</span> we used</h2>
            </div>
            <div class="g-4 row row-cols-lg-4 row-cols-md-3 row-cols-1">
                <div class="col">
                    <div class="dark-box-2 text-center equal-height">
                        <p class="mb-2 font-size-14 text-muted">Frontend (Mobile)</p>
                        <h3 class="h5 fw-normal mb-0">
                            Flutter, Dart
                        </h3>
                    </div>
                </div>
                <div class="col">
                    <div class="dark-box-2 text-center equal-height">
                        <p class="mb-2 font-size-14 text-muted">Back End</p>
                        <h3 class="h5 fw-normal mb-0">
                            MongoDB (NoSQL), Redis (for caching)
                        </h3>
                    </div>
                </div>
                <div class="col">
                    <div class="dark-box-2 text-center equal-height">
                        <p class="mb-2 font-size-14 text-muted">Database</p>
                        <h3 class="h5 fw-normal mb-0"> MongoDB (NoSQL), Redis (for caching)</h3>
                    </div>
                </div>
                <div class="col">
                    <div class="dark-box-2 text-center equal-height">
                        <p class="mb-2 font-size-14 text-muted">Authentication</p>
                        <h3 class="h5 fw-normal mb-0">Firebase Auth, OAuth2</h3>
                    </div>
                </div>

            </div>
            <div class="g-4 row row-cols-lg-4 row-cols-md-3 row-cols-1 mt-4">
                <div class="col">
                    <div class="dark-box-2 text-center equal-height">
                        <p class="mb-2 font-size-14 text-muted">Payment Gateway</p>
                        <h3 class="h5 fw-normal mb-0">Stripe API</h3>
                    </div>
                </div>
                <div class="col">
                    <div class="dark-box-2 text-center equal-height">
                        <p class="mb-2 font-size-14 text-muted">Hosting & DevOps</p>
                        <h3 class="h5 fw-normal mb-0">AWS EC2, S3, CloudFront, GitHub Actions</h3>
                    </div>
                </div>
                <div class="col">
                    <div class="dark-box-2 text-center equal-height">
                        <p class="mb-2 font-size-14 text-muted">Analytics</p>
                        <h3 class="h5 fw-normal mb-0">Mixpanel, Firebase Analytics</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>


