@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <title> Document Scanning And Sharing Application  | Portfolio  </title>
    <link href="~/assets/css/TravelwebPage.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/assets/js/TravelWebSwiper.js"></script>
</head>
<body>
    <section class="section bg-black case-about-section">
        <div class="py-5 container">
            <div class="mb-0 mt-5">
                <div class="g-4 row row-cols-lg-2 row-cols-md-1 row-cols-1">
                    <div class="col-lg-3">
                        <div class="pb-4 case-study-title-border">
                            <h2 class="mb-4 text-white title-border-sm">About</h2>
                        </div>
                        <div>
                            <h3 class="fw-medium font-size-18 text-white">Category</h3>
                            <p class="font-size-16 mb-0 category-single-post"><span class="category text-white-75"> <i class="coma-sep">  </i></span><span class="category text-white-75">Document Scanning And Sharing Application  <i class="coma-sep">  </i></span></p>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="ms-lg-5">
                            <div class="text-white-75 lead mb-0 mt-4">
                                <p style=" color: hsla(0, 0%, 100%, .75);">
                                    A mid-sized document management firm approached Broadsy Technologies with a need for a robust and user-friendly mobile application capable of scanning documents into PDFs, managing them securely, and enabling seamless sharing and cloud sync. Their operations relied heavily on paperwork, and digitization was essential for streamlining workflows and improving accessibility.
                                </p>
                            </div>
                            <div class="d-flex align-items-center"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- challenges-->
    <section class="section challanges-section">
        <div class="py-5 container">
            <div class="dark-box-1 p-4 p-lg-5 mt-5">
                <div class="g-4 row">
                    <div class="col-lg-3">
                        <div class="mb-0 case-study-title-border sticky-section">
                            <h2 class="mb-4 title-border-sm">Challenges<span class="text-primary">Faced</span></h2>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="ps-0 ps-lg-5">
                            <div class="col-12">
                                <table class="table table-borderless">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col"><h3><b>Challenges</b></h3></th>
                                            <th scope="col"><h3><b>Solutions</b></h3></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-second">
                                                <i class="zmdi zmdi-alert-circle zmdi-hc-fw font-size-24"></i> Image distortion in poor lighting
                                            </td>
                                            <td>
                                                <i class="zmdi zmdi-check-circle zmdi-hc-fw font-size-24"></i> Implemented real-time feedback and auto-enhancement filters
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-second">
                                                <i class="zmdi zmdi-alert-circle zmdi-hc-fw font-size-24"></i> Large PDF sizes from high-res scans
                                            </td>
                                            <td>
                                                <i class="zmdi zmdi-check-circle zmdi-hc-fw font-size-24"></i> Introduced multi-tier compression options
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-second">
                                                <i class="zmdi zmdi-alert-circle zmdi-hc-fw font-size-24"></i> Cross-platform camera behavior
                                            </td>
                                            <td>
                                                <i class="zmdi zmdi-check-circle zmdi-hc-fw font-size-24"></i> Used Flutter plugins with platform-specific code adjustments
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-second">
                                                <i class="zmdi zmdi-alert-circle zmdi-hc-fw font-size-24"></i> OCR accuracy for hand-written text
                                            </td>
                                            <td>
                                                <i class="zmdi zmdi-check-circle zmdi-hc-fw font-size-24"></i> Provided hybrid approach: OCR + manual text correction UI
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-5 pb-4">
                <div class="swiper swiper-initialized swiper-horizontal solution-slider swiper-backface-hidden">
                    <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px); transition-delay: 0ms; ">
                        <div class="swiper-slide swiper-slide-active" style="margin-right: 50px; max-height: 594px;">
                            <div data-gatsby-image-wrapper="" class="gatsby-image-wrapper gatsby-image-wrapper-constrained" style="width: 34%; margin-left: 70px">
                                <div style="max-width:3200px;display:block">
                                    <div aria-hidden="true" data-placeholder-image="" style="opacity: 0; transition: opacity 500ms linear; object-fit: contain;"></div>
                                    <picture>
                                        <img width="3200" height="2000" data-main-image="" style="object-fit: contain; opacity: 1;" sizes="(min-width: 3200px) 3200px, 100vw" decoding="async" loading="lazy" src="~/assets/img/BtScan.png"
                                             alt="solution">
                                    </picture>
                                </div>
                            </div>
                            <div data-gatsby-image-wrapper="" class="gatsby-image-wrapper gatsby-image-wrapper-constrained" style="width: 34%; margin-left: 135px">
                                <div style="max-width:3200px;display:block">
                                    <div aria-hidden="true" data-placeholder-image="" style="opacity: 0; transition: opacity 500ms linear; object-fit: contain;"></div>
                                    <picture>
                                        <img width="3200" height="2000" data-main-image="" style="object-fit: contain; opacity: 1;" sizes="(min-width: 3200px) 3200px, 100vw" decoding="async" loading="lazy" src="~/assets/img/BtScan2.png"
                                             alt="solution">
                                    </picture>
                                </div>

                            </div>
                        </div>
                        <div class="swiper-slide swiper-slide-active" style="margin-right: 50px; max-height: 594px;">
                            <div data-gatsby-image-wrapper="" class="gatsby-image-wrapper gatsby-image-wrapper-constrained" style="width:34%;margin-left:70px;">
                                <div style="max-width:3200px;display:block">
                                    <div aria-hidden="true" data-placeholder-image="" style="opacity: 0; transition: opacity 500ms linear; object-fit: contain;"></div>
                                    <picture>
                                        <img width="3200" height="2000" data-main-image="" style="object-fit: contain; opacity: 1;" sizes="(min-width: 3200px) 3200px, 100vw" decoding="async" loading="lazy" src="~/assets/img/BtScan3.png"
                                             alt="solution">
                                    </picture>
                                </div>
                            </div>
                            <div data-gatsby-image-wrapper="" class="gatsby-image-wrapper gatsby-image-wrapper-constrained" style="width: 34%; margin-left: 135px">
                                <div style="max-width:3200px;display:block">
                                    <div aria-hidden="true" data-placeholder-image="" style="opacity: 0; transition: opacity 500ms linear; object-fit: contain;"></div>
                                    <picture>
                                        <img width="3200" height="2000" data-main-image="" style="object-fit: contain; opacity: 1;" sizes="(min-width: 3200px) 3200px, 100vw" decoding="async" loading="lazy" src="~/assets/img/BtScan4.png"
                                             alt="solution">
                                    </picture>
                                </div>

                            </div>
                        </div>
                        <div class="swiper-slide swiper-slide-active" style="margin-right: 50px; max-height: 594px;">
                            <div data-gatsby-image-wrapper="" class="gatsby-image-wrapper gatsby-image-wrapper-constrained" style="width: 34%; margin-left: 70px;">
                                <div style="max-width:3200px;display:block">
                                    <div aria-hidden="true" data-placeholder-image="" style="opacity: 0; transition: opacity 500ms linear; object-fit: contain;"></div>
                                    <picture>
                                        <img width="3200" height="2000" data-main-image="" style="object-fit: contain; opacity: 1;" sizes="(min-width: 3200px) 3200px, 100vw" decoding="async" loading="lazy" src="~/assets/img/BtScan5.png"
                                             alt="solution">
                                    </picture>
                                </div>
                            </div>
                            <div data-gatsby-image-wrapper="" class="gatsby-image-wrapper gatsby-image-wrapper-constrained" style="width: 34%; margin-left: 135px">
                                <div style="max-width:3200px;display:block">
                                    <div aria-hidden="true" data-placeholder-image="" style="opacity: 0; transition: opacity 500ms linear; object-fit: contain;"></div>
                                    <picture>
                                        <img width="3200" height="2000" data-main-image="" style="object-fit: contain; opacity: 1;" sizes="(min-width: 3200px) 3200px, 100vw" decoding="async" loading="lazy" src="~/assets/img/BtScan6.png"
                                             alt="solution">
                                    </picture>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-prev swiper-button-disabled"></div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal">
                        <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
                        <span class="swiper-pagination-bullet"></span>
                        <span class="swiper-pagination-bullet"></span>
                        <span class="swiper-pagination-bullet"></span>
                        <span class="swiper-pagination-bullet"></span>
                    </div>
                </div>
            </div>
            <div class="mt-5">
                <div class="dark-box-1 p-4 p-lg-5">
                    <div class="g-4 row">
                        <div class="col-lg-3">
                            <div class="mb-0 case-study-title-border sticky-section">
                                <h2 class="mb-4 title-border-sm">
                                    Objectives<span class="text-primary"></span>
                                </h2>
                            </div>
                        </div>

                        <div class="col-lg-9">
                            <ul class="ps-0 ps-lg-5">
                                <li class="mb-3 lead d-flex">
                                    <span class="me-2 mt-1 text-second"><i class="zmdi zmdi-check-circle zmdi-hc-fw font-size-24"></i></span>
                                    <div class="mb-0">
                                        <p>
                                            Create a cross-platform mobile app for scanning documents.
                                        </p>
                                    </div>
                                </li>
                                <li class="mb-3 lead d-flex">
                                    <span class="me-2 mt-1 text-second"><i class="zmdi zmdi-check-circle zmdi-hc-fw font-size-24"></i></span>
                                    <div class="mb-0">
                                        <p>
                                            Convert scanned images to optimized PDFs.
                                        </p>
                                    </div>
                                </li>
                                <li class="mb-3 lead d-flex">
                                    <span class="me-2 mt-1 text-second"><i class="zmdi zmdi-check-circle zmdi-hc-fw font-size-24"></i></span>
                                    <div class="mb-0">
                                        <p>
                                            Provide annotation, cropping, and image enhancement tools.
                                        </p>
                                    </div>
                                </li>
                                <li class="mb-3 lead d-flex">
                                    <span class="me-2 mt-1 text-second"><i class="zmdi zmdi-check-circle zmdi-hc-fw font-size-24"></i></span>
                                    <div class="mb-0">
                                        <p>
                                            Allow secure storage and categorization of documents.
                                        </p>
                                    </div>
                                </li>
                                <li class="mb-3 lead d-flex">
                                    <span class="me-2 mt-1 text-second"><i class="zmdi zmdi-check-circle zmdi-hc-fw font-size-24"></i></span>
                                    <div class="mb-0">
                                        <p>
                                            Enable cloud sync and sharing capabilities.
                                        </p>
                                    </div>
                                </li>
                                <li class="mb-3 lead d-flex">
                                    <span class="me-2 mt-1 text-second"><i class="zmdi zmdi-check-circle zmdi-hc-fw font-size-24"></i></span>
                                    <div class="mb-0">
                                        <p>
                                            Implement OCR (Optical Character Recognition) to extract text from images.
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-5">
                <div class="dark-box-1 p-4 p-lg-5">
                    <div class="g-4 row">
                        <div class="col-lg-3">
                            <div class="mb-0 case-study-title-border sticky-section">
                                <h2 class="mb-4 title-border-sm">
                                    App <span class="text-primary">features</span>
                                </h2>
                            </div>
                        </div>

                        <div class="col-lg-9">
                            <ul class="ps-0 ps-lg-5">
                                <li class="mb-3 lead d-flex">
                                    <span class="me-2 mt-1 text-second"><i class="zmdi zmdi-check-circle zmdi-hc-fw font-size-24"></i></span>
                                    <div class="mb-0">
                                        <p><b>Document Scanning: </b></p>
                                        <p>
                                            Utilized device camera for scanning.
                                        </p>
                                        <p> FEdge detection, auto-cropping, and perspective correction.</p>
                                        <p>
                                            Real-time image enhancement (contrast, grayscale, sharpen).
                                        </p>
                                    </div>
                                </li>
                                <li class="mb-3 lead d-flex">
                                    <span class="me-2 mt-1 text-second"><i class="zmdi zmdi-check-circle zmdi-hc-fw font-size-24"></i></span>
                                    <div class="mb-0">
                                        <p><b>PDF Generation:</b></p>
                                        <p>
                                            Convert one or multiple scanned images into a single PDF.
                                        </p>
                                        <p>
                                            Support for high compression to reduce file size.
                                        </p>
                                    </div>
                                </li>
                                <li class="mb-3 lead d-flex">
                                    <span class="me-2 mt-1 text-second"><i class="zmdi zmdi-check-circle zmdi-hc-fw font-size-24"></i></span>
                                    <div class="mb-0">
                                        <p><b>OCR Support:</b></p>
                                        <p>
                                            Extract text using Tesseract via Flutter plugin.
                                        </p>
                                        <p>
                                            Searchable PDFs generation (stored alongside raw scan).
                                        </p>
                                    </div>
                                </li>
                                <li class="mb-3 lead d-flex">
                                    <span class="me-2 mt-1 text-second"><i class="zmdi zmdi-check-circle zmdi-hc-fw font-size-24"></i></span>
                                    <div class="mb-0">
                                        <p><b>Cloud Backup:</b></p>
                                        <p>
                                            Documents synced with Azure Blob Storage.
                                        </p>
                                        <p>
                                            Offline access with background sync when online.
                                        </p>
                                    </div>
                                </li>
                                <li class="mb-3 lead d-flex">
                                    <span class="me-2 mt-1 text-second"><i class="zmdi zmdi-check-circle zmdi-hc-fw font-size-24"></i></span>
                                    <div class="mb-0">
                                        <p><b>Organizational Tools:</b></p>
                                        <p>
                                            Folder structure, tags, and metadata search.
                                        </p>
                                        <p>
                                            Starred (favorites), recent, and archived views.
                                        </p>
                                    </div>
                                </li>
                                <li class="mb-3 lead d-flex">
                                    <span class="me-2 mt-1 text-second"><i class="zmdi zmdi-check-circle zmdi-hc-fw font-size-24"></i></span>
                                    <div class="mb-0">
                                        <p><b>Security:</b></p>
                                        <p>
                                            Secure login with multi-auth support (email/OAuth).
                                        </p>
                                        <p>
                                            Biometric authentication (Face ID / Fingerprint).
                                        </p>
                                        <p>
                                            Encrypted storage for sensitive PDFs.
                                        </p>
                                    </div>
                                </li>
                                <li class="mb-3 lead d-flex">
                                    <span class="me-2 mt-1 text-second"><i class="zmdi zmdi-check-circle zmdi-hc-fw font-size-24"></i></span>
                                    <div class="mb-0">
                                        <p><b>Sharing Options:</b></p>
                                        <p>
                                            Email, WhatsApp, Google Drive integration.
                                        </p>
                                        <p>
                                            Link generation with expiry & access control.
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-5">
                <div class="0dark-box-1 p-4 p-lg-5">
                    <div class="g-4 row">
                        <div class="col-lg-3">
                            <div class="mb-0 case-study-title-border sticky-section">
                                <h2 class="mb-4 title-border-sm">Architecture <span class="text-primary">Overview</span></h2>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <ul class="ps-0 ps-lg-5">
                                <li class="mb-3 lead d-flex">
                                    <span class="me-2 mt-1 text-second"><i class="zmdi zmdi-check-circle zmdi-hc-fw font-size-24"></i></span>
                                    <div class="mb-0">
                                        <p><b>Flutter Frontend: </b></p>
                                        <p> MVVM pattern, Provider for state management.</p>
                                    </div>
                                </li>
                                <li class="mb-3 lead d-flex">
                                    <span class="me-2 mt-1 text-second"><i class="zmdi zmdi-check-circle zmdi-hc-fw font-size-24"></i></span>
                                    <div class="mb-0">
                                        <p><b>Backend API: </b></p>
                                        <p>
                                            RESTful .NET 6 Web API.
                                        </p>
                                        <p>
                                            Endpoints for auth, file uploads, OCR, and document metadata.
                                        </p>
                                        <p>
                                            Azure SDK integration for blob handling.
                                        </p>
                                    </div>
                                </li>
                                <li class="mb-3 lead d-flex">
                                    <span class="me-2 mt-1 text-second"><i class="zmdi zmdi-check-circle zmdi-hc-fw font-size-24"></i></span>
                                    <div class="mb-0">
                                        <p><b>Database Design: </b></p>
                                        <p>
                                            User Table.
                                        </p>
                                        <p>
                                            Documents Table.
                                        </p>
                                        <p>
                                            Folder/Tag Management.
                                        </p>
                                        <p>
                                            Audit Logs.
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-5">
                <div class="0dark-box-1 p-4 p-lg-5">
                    <div class="g-4 row">
                        <div class="col-lg-3">
                            <div class="mb-0 case-study-title-border sticky-section">
                                <h2 class="mb-4 title-border-sm">QA & <span class="text-primary">Testing</span></h2>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <ul class="ps-0 ps-lg-5">
                                <li class="mb-3 lead d-flex">
                                    <span class="me-2 mt-1 text-second"><i class="zmdi zmdi-check-circle zmdi-hc-fw font-size-24"></i></span>
                                    <div class="mb-0">
                                        <p> Unit Testing (Flutter & .NET).</p>
                                    </div>
                                </li>
                            </ul>
                            <ul class="ps-0 ps-lg-5">
                                <li class="mb-3 lead d-flex">
                                    <span class="me-2 mt-1 text-second"><i class="zmdi zmdi-check-circle zmdi-hc-fw font-size-24"></i></span>
                                    <div class="mb-0">
                                        <p> Manual Testing on real devices.</p>
                                    </div>
                                </li>
                            </ul>
                            <ul class="ps-0 ps-lg-5">
                                <li class="mb-3 lead d-flex">
                                    <span class="me-2 mt-1 text-second"><i class="zmdi zmdi-check-circle zmdi-hc-fw font-size-24"></i></span>
                                    <div class="mb-0">
                                        <p> Automated UI tests using Flutter Driver.</p>
                                    </div>
                                </li>
                            </ul> <ul class="ps-0 ps-lg-5">
                                <li class="mb-3 lead d-flex">
                                    <span class="me-2 mt-1 text-second"><i class="zmdi zmdi-check-circle zmdi-hc-fw font-size-24"></i></span>
                                    <div class="mb-0">
                                        <p> Load Testing for backend file upload using JMeter.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--TechStack-->
    <section class="section bg-light">
        <div class="py-5 container">
            <div class="mb-5 pb-1">
                <h2 class="mb-0"><span class="text-primary">Tech stacks</span> we used</h2>
            </div>
            <div class="g-4 row row-cols-lg-4 row-cols-md-3 row-cols-1">
                <div class="col">
                    <div class="dark-box-2 text-center equal-height">
                        <p class="mb-2 font-size-14 text-muted">Frontend (Mobile)</p>
                        <h3 class="h5 fw-normal mb-0">
                            Flutter (for cross-platform apps)
                        </h3>
                    </div>
                </div>
                <div class="col">
                    <div class="dark-box-2 text-center equal-height">
                        <p class="mb-2 font-size-14 text-muted">Back End</p>
                        <h3 class="h5 fw-normal mb-0">
                            .NET Core Web API
                        </h3>
                    </div>
                </div>
                <div class="col">
                    <div class="dark-box-2 text-center equal-height">
                        <p class="mb-2 font-size-14 text-muted">Database</p>
                        <h3 class="h5 fw-normal mb-0"> SQL Server </h3>
                    </div>
                </div>
                <div class="col">
                    <div class="dark-box-2 text-center equal-height">
                        <p class="mb-2 font-size-14 text-muted">Cloud Integration</p>
                        <h3 class="h5 fw-normal mb-0"> Azure Blob Storage </h3>
                    </div>
                </div>

            </div>
        </div>
    </section>
</body>
</html>

