@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <title> E-Commerce | Portfolio  </title>
    <link href="~/assets/css/TravelwebPage.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/assets/js/TravelWebSwiper.js"></script>
</head>
<body>
    <section class="section bg-black case-about-section">
        <div class="py-5 container">
            <div class="mb-0 mt-5">
                <div class="g-4 row row-cols-lg-2 row-cols-md-1 row-cols-1">
                    <div class="col-lg-3">
                        <div class="pb-4 case-study-title-border">
                            <h2 class="mb-4 text-white title-border-sm">About</h2>
                        </div>
                        <div>
                            <h3 class="fw-medium font-size-18 text-white">Category</h3>
                            <p class="font-size-16 mb-0 category-single-post"><span class="category text-white-75"> <i class="coma-sep">  </i></span><span class="category text-white-75">E-Commerce<i class="coma-sep">  </i></span></p>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="ms-lg-5">
                            <div class="text-white-75 lead mb-0 mt-4">
                                <p style=" color: hsla(0, 0%, 100%, .75);">
                                    A leading extra-size clothing company based in the USA, specializing in fashionable and comfortable clothing for plus-size individuals. The company aimed to expand its reach by launching an e-commerce platform to cater to a broader audience.
                            </div>
                            <div class="d-flex align-items-center"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section challanges-section">
        <div class="py-5 container">
            <div class="dark-box-1 p-4 p-lg-5 mt-5">
                <div class="g-4 row">
                    <div class="col-lg-3">
                        <div class="mb-0 case-study-title-border sticky-section">
                            <h2 class="mb-4 title-border-sm"> <span class="text-primary">Challenges</span>Faced</h2>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <ul class="ps-0 ps-lg-5">
                            <li class="mb-3 lead d-flex">
                                <span class="me-2 mt-1 text-second"><i class="zmdi zmdi-check-circle zmdi-hc-fw font-size-24"></i></span>
                                <div class="mb-0">
                                    <strong>Customer Hesitation:</strong>  Many customers were skeptical about online shopping due to size concerns. The introduction of a virtual fitting room helped address this issue.
                                </div>
                            </li>
                            <li class="mb-3 lead d-flex">
                                <span class="me-2 mt-1 text-second"><i class="zmdi zmdi-check-circle zmdi-hc-fw font-size-24"></i></span>
                                <div class="mb-0">
                                    <strong>Technical Integration:</strong> Ensuring smooth integration of third-party logistics, payment gateways, and CRM systems.
                                </div>
                            </li>
                            <li class="mb-3 lead d-flex">
                                <span class="me-2 mt-1 text-second"><i class="zmdi zmdi-check-circle zmdi-hc-fw font-size-24"></i></span>
                                <div class="mb-0">
                                    <strong>Brand Awareness:</strong> Overcoming the competition in the online retail space required an aggressive digital marketing campaign.
                                </div>
                            </li>
                            <li class="mb-3 lead d-flex">
                                <span class="me-2 mt-1 text-second"><i class="zmdi zmdi-check-circle zmdi-hc-fw font-size-24"></i></span>
                                <div class="mb-0">
                                    <strong>Handling High Traffic: </strong> The platform needed to be scalable to handle increased traffic during promotions and sales events.
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="mt-5">
                <div class="0dark-box-1 p-4 p-lg-5">
                    <div class="g-4 row">
                        <div class="col-lg-3">
                            <div class="mb-0 case-study-title-border sticky-section">
                                <h2 class="mb-4 title-border-sm"> <span class="text-primary">Solution</span>Provided</h2>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <p class="tab-description">
                                Our team developed a robust and user-friendly e-commerce platform tailored to the company's needs. The key features included:
                            </p>
                            <ul class="ps-0 ps-lg-5">
                                <li class="mb-3 lead d-flex">
                                    <span class="me-2 mt-1 text-second"><i class="zmdi zmdi-check-circle zmdi-hc-fw font-size-24"></i></span>
                                    <div class="mb-0">
                                        <p><b>Custom UI/UX Design:</b></p>
                                        <p>
                                            A clean and intuitive interface with easy navigation.
                                        </p>
                                    </div>
                                </li>
                                <li class="mb-3 lead d-flex">
                                    <span class="me-2 mt-1 text-second"><i class="zmdi zmdi-check-circle zmdi-hc-fw font-size-24"></i></span>
                                    <div class="mb-0">
                                        <p><b>Responsive Design: </b></p>
                                        <p>
                                            Optimized for mobile, tablet, and desktop users.
                                        </p>
                                    </div>
                                </li>
                                <li class="mb-3 lead d-flex">
                                    <span class="me-2 mt-1 text-second"><i class="zmdi zmdi-check-circle zmdi-hc-fw font-size-24"></i></span>
                                    <div class="mb-0">
                                        <p><b>Size Guide and Virtual Fitting Room:</b></p>
                                        <p>
                                            To help customers find the perfect fit.
                                        </p>
                                    </div>
                                </li>
                                <li class="mb-3 lead d-flex">
                                    <span class="me-2 mt-1 text-second"><i class="zmdi zmdi-check-circle zmdi-hc-fw font-size-24"></i></span>
                                    <div class="mb-0">
                                        <p><b>Personalized Recommendations: </b></p>
                                        <p>
                                            AI-driven product suggestions based on user preferences.
                                        </p>
                                    </div>
                                </li>
                                <li class="mb-3 lead d-flex">
                                    <span class="me-2 mt-1 text-second"><i class="zmdi zmdi-check-circle zmdi-hc-fw font-size-24"></i></span>
                                    <div class="mb-0">
                                        <p><b>Seamless Checkout Process: </b></p>
                                        <p>
                                            Multiple payment options, including digital wallets.
                                        </p>
                                    </div>
                                </li>
                                <li class="mb-3 lead d-flex">
                                    <span class="me-2 mt-1 text-second"><i class="zmdi zmdi-check-circle zmdi-hc-fw font-size-24"></i></span>
                                    <div class="mb-0">
                                        <p><b>Inventory Management System:</b></p>
                                        <p>
                                            Real-time stock updates and automated restocking alerts.
                                        </p>
                                    </div>
                                </li>
                                <li class="mb-3 lead d-flex">
                                    <span class="me-2 mt-1 text-second"><i class="zmdi zmdi-check-circle zmdi-hc-fw font-size-24"></i></span>
                                    <div class="mb-0">
                                        <p><b>SEO and Digital Marketing Strategy:</b></p>
                                        <p>
                                            Implementation of SEO best practices and social media marketing to increase brand visibility.
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-5 pb-4">
                <div class="swiper swiper-initialized swiper-horizontal solution-slider swiper-backface-hidden">
                    <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px); transition-delay: 0ms; ">
                        <div class="swiper-slide swiper-slide-active" style="margin-right: 50px;">
                            <div data-gatsby-image-wrapper="" class="gatsby-image-wrapper gatsby-image-wrapper-constrained">
                                <div style="max-width:3200px;display:block">
                                    <div aria-hidden="true" data-placeholder-image="" style="opacity: 0; transition: opacity 500ms linear; object-fit: contain;"></div>
                                    <picture>
                                        <img width="3200" height="2000" data-main-image="" style="object-fit: contain; opacity: 1;" sizes="(min-width: 3200px) 3200px, 100vw" decoding="async" loading="lazy" src="~/assets/img/fashion1.png"
                                             alt="solution">
                                    </picture>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide swiper-slide-next" style="margin-right: 50px;">
                            <div data-gatsby-image-wrapper="" class="gatsby-image-wrapper gatsby-image-wrapper-constrained">
                                <div style="max-width:3200px;display:block">
                                    <div aria-hidden="true" data-placeholder-image="" style="opacity: 0; transition: opacity 500ms linear; object-fit: contain;"></div>
                                    <picture>
                                        <img width="3200" height="2000" data-main-image="" style="object-fit: contain; opacity: 1;" sizes="(min-width: 3200px) 3200px, 100vw" decoding="async" loading="lazy" src="~/assets/img/fashion2.png" alt="solution">
                                    </picture>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide" style="margin-right: 50px;">
                            <div data-gatsby-image-wrapper="" class="gatsby-image-wrapper gatsby-image-wrapper-constrained">
                                <div style="max-width:3200px;display:block">
                                    <div aria-hidden="true" data-placeholder-image="" style="opacity: 0; transition: opacity 500ms linear; object-fit: contain;"></div>
                                    <picture>
                                        <img width="3200" height="2000" data-main-image="" style="object-fit: contain; opacity: 1;" sizes="(min-width: 3200px) 3200px, 100vw" decoding="async" loading="lazy" src="~/assets/img/fashion3.png"
                                             alt="solution">
                                    </picture>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide" style="margin-right: 50px;">
                            <div data-gatsby-image-wrapper="" class="gatsby-image-wrapper gatsby-image-wrapper-constrained">
                                <div style="max-width:3200px;display:block">
                                    <div aria-hidden="true" data-placeholder-image="" style="opacity: 0; transition: opacity 500ms linear; object-fit: contain;"></div>
                                    <picture>
                                        <img width="3200" height="2000" data-main-image="" style="object-fit: contain; opacity: 1;" sizes="(min-width: 3200px) 3200px, 100vw" decoding="async" loading="lazy" src="~/assets/img/fashion4.png" alt="solution">
                                    </picture>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide" style="margin-right: 50px;">
                            <div data-gatsby-image-wrapper="" class="gatsby-image-wrapper gatsby-image-wrapper-constrained">
                                <div style="max-width:3200px;display:block">
                                    <div aria-hidden="true" data-placeholder-image="" style="opacity: 0; transition: opacity 500ms linear; object-fit: contain;"></div>
                                    <picture>
                                        <img width="3200" height="2000" data-main-image="" style="object-fit: contain; opacity: 1;" sizes="(min-width: 3200px) 3200px, 100vw" decoding="async" loading="lazy" src="~/assets/img/fashion5.png" alt="solution">
                                    </picture>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-prev swiper-button-disabled"></div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal">
                        <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
                        <span class="swiper-pagination-bullet"></span>
                        <span class="swiper-pagination-bullet"></span>
                        <span class="swiper-pagination-bullet"></span>
                        <span class="swiper-pagination-bullet"></span>
                    </div>
                </div>
            </div>
            <div class="mt-5">
                <div class="dark-box-1 p-4 p-lg-5">
                    <div class="g-4 row">
                        <div class="col-lg-3">
                            <div class="mb-0 case-study-title-border sticky-section">
                                <h2 class="mb-4 title-border-sm">Results</h2>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <ul class="ps-0 ps-lg-5">
                                <li class="mb-3 lead d-flex">
                                    <span class="me-2 mt-1 text-second"><i class="zmdi zmdi-check-circle zmdi-hc-fw font-size-24"></i></span>
                                    <div class="mb-0">
                                        200% Increase in Online Sales within the first six months.
                                    </div>
                                </li>
                                <li class="mb-3 lead d-flex">
                                    <span class="me-2 mt-1 text-second"><i class="zmdi zmdi-check-circle zmdi-hc-fw font-size-24"></i></span>
                                    <div class="mb-0">
                                        45% Growth in Customer Engagement through personalized shopping experiences.
                                    </div>
                                </li>
                                <li class="mb-3 lead d-flex">
                                    <span class="me-2 mt-1 text-second"><i class="zmdi zmdi-check-circle zmdi-hc-fw font-size-24"></i></span>
                                    <div class="mb-0">
                                        Enhanced Brand Visibility with a 300% increase in website traffic.
                                    </div>
                                </li>
                                <li class="mb-3 lead d-flex">
                                    <span class="me-2 mt-1 text-second"><i class="zmdi zmdi-check-circle zmdi-hc-fw font-size-24"></i></span>
                                    <div class="mb-0">
                                        Higher Customer Retention Rate due to improved shopping experience and efficient order fulfillment.
                                    </div>
                                </li>
                                <li class="mb-3 lead d-flex">
                                    <span class="me-2 mt-1 text-second"><i class="zmdi zmdi-check-circle zmdi-hc-fw font-size-24"></i></span>
                                    <div class="mb-0">
                                        Positive Customer Feedback on the user-friendly interface and size accuracy tools.
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--TechStack-->
    <section class="section bg-light">
        <div class="py-5 container">
            <div class="mb-5 pb-1">
                <h2 class="mb-0"><span class="text-primary">Tech stacks</span> we used</h2>
            </div>
            <div class="g-4 row row-cols-lg-4 row-cols-md-3 row-cols-1">
                <div class="col">
                    <div class="dark-box-2 text-center equal-height">
                        <p class="mb-2 font-size-14 text-muted"> Front End</p>
                        <h3 class="h5 fw-normal mb-0">React   </h3>
                    </div>
                </div>
                <div class="col">
                    <div class="dark-box-2 text-center equal-height">
                        <p class="mb-2 font-size-14 text-muted">Back End</p>
                        <h3 class="h5 fw-normal mb-0"> Node  </h3>
                    </div>
                </div>
                <div class="col">
                    <div class="dark-box-2 text-center equal-height">
                        <p class="mb-2 font-size-14 text-muted">Database</p>
                        <h3 class="h5 fw-normal mb-0"> MongoDB</h3>
                    </div>
                </div>
                <div class="col">
                    <div class="dark-box-2 text-center equal-height">
                        <p class="mb-2 font-size-14 text-muted">Server</p>
                        <h3 class="h5 fw-normal mb-0">AWS </h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>

