################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/Broadsyofficial/.vs
/.vs
/Broadsyofficial/bin
/Broadsyofficial/obj
/packages
